In [98]:
import glob
import itertools
import json
import os
import pandas
import scipy
from scipy import stats
import matplotlib.pyplot as plt

In [99]:
path = "ExperimentData"
dir_list = os.listdir(path)
 
print("Files and directories in '", path, "' :")
 
# prints all files
print(dir_list)

exp_paths = []

session_map = {}
for filename in dir_list:
    if filename.isdigit():
        exp_paths.append(path + "/" + filename + "/ResponsiveAR/Experiment/")
        #session_map[filename] = user_id
        files = os.listdir(path + "/" + filename + "/ResponsiveAR/Experiment/")
        name = files[0]
        index = name.find(".")
        user_id = name[index - 13: index]
        session_map[user_id] = int(filename)

print(exp_paths)

user_group_mapping = {}

for i in range(30, 87):
    user_group_mapping[i] = "A"
    if(i % 2 != 0):
        user_group_mapping[i] = "B"
        
    #special cases
    if(i == 79):
        user_group_mapping[i] = "A"

print(user_group_mapping)

Files and directories in ' ExperimentData ' :
['61', '59', '68', '57', '32', '35', '69', '56', '51', '58', '67', '60', '34', '33', '.DS_Store', '45', '80', '86', '44', '43', '38', '36', '31', '65', '54', '53', '30', '37', '39', '55', '63', '64', '46', '79', '41', '83', '48', '70', '84', '85', '71', '82', '49', '40', '47', '78']
['ExperimentData/61/ResponsiveAR/Experiment/', 'ExperimentData/59/ResponsiveAR/Experiment/', 'ExperimentData/68/ResponsiveAR/Experiment/', 'ExperimentData/57/ResponsiveAR/Experiment/', 'ExperimentData/32/ResponsiveAR/Experiment/', 'ExperimentData/35/ResponsiveAR/Experiment/', 'ExperimentData/69/ResponsiveAR/Experiment/', 'ExperimentData/56/ResponsiveAR/Experiment/', 'ExperimentData/51/ResponsiveAR/Experiment/', 'ExperimentData/58/ResponsiveAR/Experiment/', 'ExperimentData/67/ResponsiveAR/Experiment/', 'ExperimentData/60/ResponsiveAR/Experiment/', 'ExperimentData/34/ResponsiveAR/Experiment/', 'ExperimentData/33/ResponsiveAR/Experiment/', 'ExperimentData/45/ResponsiveAR/Experiment/', 'ExperimentData/80/ResponsiveAR/Experiment/', 'ExperimentData/86/ResponsiveAR/Experiment/', 'ExperimentData/44/ResponsiveAR/Experiment/', 'ExperimentData/43/ResponsiveAR/Experiment/', 'ExperimentData/38/ResponsiveAR/Experiment/', 'ExperimentData/36/ResponsiveAR/Experiment/', 'ExperimentData/31/ResponsiveAR/Experiment/', 'ExperimentData/65/ResponsiveAR/Experiment/', 'ExperimentData/54/ResponsiveAR/Experiment/', 'ExperimentData/53/ResponsiveAR/Experiment/', 'ExperimentData/30/ResponsiveAR/Experiment/', 'ExperimentData/37/ResponsiveAR/Experiment/', 'ExperimentData/39/ResponsiveAR/Experiment/', 'ExperimentData/55/ResponsiveAR/Experiment/', 'ExperimentData/63/ResponsiveAR/Experiment/', 'ExperimentData/64/ResponsiveAR/Experiment/', 'ExperimentData/46/ResponsiveAR/Experiment/', 'ExperimentData/79/ResponsiveAR/Experiment/', 'ExperimentData/41/ResponsiveAR/Experiment/', 'ExperimentData/83/ResponsiveAR/Experiment/', 'ExperimentData/48/ResponsiveAR/Experiment/', 'ExperimentData/70/ResponsiveAR/Experiment/', 'ExperimentData/84/ResponsiveAR/Experiment/', 'ExperimentData/85/ResponsiveAR/Experiment/', 'ExperimentData/71/ResponsiveAR/Experiment/', 'ExperimentData/82/ResponsiveAR/Experiment/', 'ExperimentData/49/ResponsiveAR/Experiment/', 'ExperimentData/40/ResponsiveAR/Experiment/', 'ExperimentData/47/ResponsiveAR/Experiment/', 'ExperimentData/78/ResponsiveAR/Experiment/']
{30: 'A', 31: 'B', 32: 'A', 33: 'B', 34: 'A', 35: 'B', 36: 'A', 37: 'B', 38: 'A', 39: 'B', 40: 'A', 41: 'B', 42: 'A', 43: 'B', 44: 'A', 45: 'B', 46: 'A', 47: 'B', 48: 'A', 49: 'B', 50: 'A', 51: 'B', 52: 'A', 53: 'B', 54: 'A', 55: 'B', 56: 'A', 57: 'B', 58: 'A', 59: 'B', 60: 'A', 61: 'B', 62: 'A', 63: 'B', 64: 'A', 65: 'B', 66: 'A', 67: 'B', 68: 'A', 69: 'B', 70: 'A', 71: 'B', 72: 'A', 73: 'B', 74: 'A', 75: 'B', 76: 'A', 77: 'B', 78: 'A', 79: 'A', 80: 'A', 81: 'B', 82: 'A', 83: 'B', 84: 'A', 85: 'B', 86: 'A'}

In [100]:
def parseFileNumber(fileName):
    fragments = fileName.split('_')
    return float(fragments[1])

In [101]:
responsiveData = []
experimentEvents = []

def parseFrame(frames, user_id):
    frames_list = []
    for frame in frames:
        frameData = {
            "userID": float,
            "frameNum": int,
            "unixTime": float,
            "timestamp": float,
            "hPos": {"x":float,"y":float,"z":float},
            "hDir": {"x":float,"y":float,"z":float},
            "hRot": {"i":float,"j":float,"k":float},
            "hAngl": {"x":float,"y":float,"z":float},
            "gazeOrigin": {"x":float,"y":float,"z":float},
            "gazeDirection": {"x":float,"y":float,"z":float},
            "rightHandRay": {"x":float,"y":float,"z":float},
            "leftHandRay": {"x":float,"y":float,"z":float},
            "experimentEvents": [],
            "responsiveData": []
        }
        responsiveEvent = frame["responsiveData"]
        experimentEvent = frame["experimentEvents"]
        frameData["userID"] = user_id
        frameData["frameNum"] = frame["frameNum"]
        frameData["unixTime"] = frame["unixTime"]
        frameData["timestamp"] = frame["timestamp"]
        frameData["hPos"] = frame["hPos"]
        frameData["hDir"] = frame["hDir"]
        frameData["hRot"] = frame["hRot"]
        frameData["hAngl"] = frame["hAngl"]
        frameData["gazeOrigin"] = frame["gazeOrigin"]
        frameData["gazeDirection"] = frame["gazeDirection"]
        frameData["rightHandRay"] = frame["rightHandRay"]
        frameData["leftHandRay"] = frame["leftHandRay"]
        frameData["experimentEvents"] = experimentEvent
        frameData["responsiveData"] = responsiveEvent
        frames_list.append(frameData)
        if responsiveEvent:
            responsiveData.append(responsiveEvent)
        if experimentEvent:
            experimentEvents.append(experimentEvent)
    return frames_list

def parseSession(session, user_id):
    sessionData = {
    "userID": float,
    "numFrames": int,
    "task": str,
    "start_time": float,
    "end_time": float,
    "total_time": float,
    "sessionNumber": int,
    "isResponsive": int,
    "frames": []
    }
    sessionData["userID"] = user_id
    sessionData["numFrames"] = session["numFrames"]
    sessionData["task"] = session["task"]
    sessionData["start_time"] = session["start_time"]
    sessionData["end_time"] = session["end_time"]
    sessionData["total_time"] = session["total_time"]
    sessionData["sessionNumber"] = session["sessionNumber"]
    sessionData["isResponsive"] = session["isResponsive"]
    return sessionData

In [102]:
data = []
frames = []
allsession = []
user_id = 0

for exp in exp_paths:
    experiment_data = {
    "path" : str,
    "sessions": {}
    }
    sessions = {}
    experiment = os.listdir(exp)
    current_path = exp
    experiment_data["path"] = current_path
    experiment.sort(key=parseFileNumber)
    for filename in experiment:
        if filename.endswith(".json"):
            # Prints only text file present in My Folder
            print(filename)
            firstFileFlag = False
            if("Session_0" in filename):
                firstFileFlag = True
            with open(current_path + filename, 'r') as f:
                json_data = json.load(f)
                if(firstFileFlag):
                    user_id = session_map[json_data["obj"]["userID"]]
                    session = parseSession(json_data["obj"]["sessionRecordings"][0], user_id)
                    frame = parseFrame(json_data["obj"]["sessionRecordings"][0]["frames"], user_id)
                    session["frames"] = frame
                    num = session["sessionNumber"]
                    sessions[num] = session
                    frames.append(frame)
                    allsession.append(session)
                else:
                    session = parseSession(json_data, user_id)
                    frame = parseFrame(json_data["frames"], user_id)
                    session["frames"] = frame
                    num = session["sessionNumber"]
                    sessions[num] = session
                    frames.append(frame)
                    allsession.append(session)
    experiment_data["sessions"] = sessions
    data.append(experiment_data)

#print(data)

ExperimentSession_0_1653325550021.json
ExperimentSession_1_1653325550021.json
ExperimentSession_2_1653325550021.json
ExperimentSession_3_1653325550021.json
ExperimentSession_4_1653325550021.json
ExperimentSession_5_1653325550021.json
ExperimentSession_6_1653325550021.json
ExperimentSession_7_1653325550021.json
ExperimentSession_8_1653325550021.json
ExperimentSession_9_1653325550021.json
ExperimentSession_0_1652910130460.json
ExperimentSession_1_1652910130460.json
ExperimentSession_2_1652910130460.json
ExperimentSession_3_1652910130460.json
ExperimentSession_4_1652910130460.json
ExperimentSession_5_1652910130460.json
ExperimentSession_6_1652910130460.json
ExperimentSession_7_1652910130460.json
ExperimentSession_8_1652910130460.json
ExperimentSession_9_1652910130460.json
ExperimentSession_0_1653072453927.json
ExperimentSession_1_1653072453927.json
ExperimentSession_2_1653072453927.json
ExperimentSession_3_1653072453927.json
ExperimentSession_4_1653072453927.json
ExperimentSession_5_1653072453927.json
ExperimentSession_6_1653072453927.json
ExperimentSession_7_1653072453927.json
ExperimentSession_8_1653072453927.json
ExperimentSession_9_1653072453927.json
ExperimentSession_0_1653521739646.json
ExperimentSession_1_1653521739646.json
ExperimentSession_2_1653521739646.json
ExperimentSession_3_1653521739646.json
ExperimentSession_4_1653521739646.json
ExperimentSession_5_1653521739646.json
ExperimentSession_6_1653521739646.json
ExperimentSession_7_1653521739646.json
ExperimentSession_8_1653521739646.json
ExperimentSession_9_1653521739646.json
ExperimentSession_0_1652736949521.json
ExperimentSession_1_1652736949521.json
ExperimentSession_2_1652736949521.json
ExperimentSession_3_1652736949521.json
ExperimentSession_4_1652736949521.json
ExperimentSession_5_1652736949521.json
ExperimentSession_6_1652736949521.json
ExperimentSession_7_1652736949521.json
ExperimentSession_8_1652736949521.json
ExperimentSession_9_1652736949521.json
ExperimentSession_0_1652807270806.json
ExperimentSession_1_1652807270806.json
ExperimentSession_2_1652807270806.json
ExperimentSession_3_1652807270806.json
ExperimentSession_4_1652807270806.json
ExperimentSession_5_1652807270806.json
ExperimentSession_6_1652807270806.json
ExperimentSession_7_1652807270806.json
ExperimentSession_8_1652807270806.json
ExperimentSession_9_1652807270806.json
ExperimentSession_0_1653438643697.json
ExperimentSession_1_1653438643697.json
ExperimentSession_2_1653438643697.json
ExperimentSession_3_1653438643697.json
ExperimentSession_4_1653438643697.json
ExperimentSession_5_1653438643697.json
ExperimentSession_6_1653438643697.json
ExperimentSession_7_1653438643697.json
ExperimentSession_8_1653438643697.json
ExperimentSession_9_1653438643697.json
ExperimentSession_0_1652899357530.json
ExperimentSession_1_1652899357530.json
ExperimentSession_2_1652899357530.json
ExperimentSession_3_1652899357530.json
ExperimentSession_4_1652899357530.json
ExperimentSession_5_1652899357530.json
ExperimentSession_6_1652899357530.json
ExperimentSession_7_1652899357530.json
ExperimentSession_8_1652899357530.json
ExperimentSession_9_1652899357530.json
ExperimentSession_0_1653008111408.json
ExperimentSession_1_1653008111408.json
ExperimentSession_2_1653008111408.json
ExperimentSession_3_1653008111408.json
ExperimentSession_4_1653008111408.json
ExperimentSession_5_1653008111408.json
ExperimentSession_6_1653008111408.json
ExperimentSession_7_1653008111408.json
ExperimentSession_8_1653008111408.json
ExperimentSession_9_1653008111408.json
ExperimentSession_0_1652894676899.json
ExperimentSession_1_1652894676899.json
ExperimentSession_2_1652894676899.json
ExperimentSession_3_1652894676899.json
ExperimentSession_4_1652894676899.json
ExperimentSession_5_1652894676899.json
ExperimentSession_6_1652894676899.json
ExperimentSession_7_1652894676899.json
ExperimentSession_8_1652894676899.json
ExperimentSession_9_1652894676899.json
ExperimentSession_0_1653687802040.json
ExperimentSession_1_1653687802040.json
ExperimentSession_2_1653687802040.json
ExperimentSession_3_1653687802040.json
ExperimentSession_4_1653687802040.json
ExperimentSession_5_1653687802040.json
ExperimentSession_6_1653687802040.json
ExperimentSession_7_1653687802040.json
ExperimentSession_8_1653687802040.json
ExperimentSession_9_1653687802040.json
ExperimentSession_0_1653093035659.json
ExperimentSession_1_1653093035659.json
ExperimentSession_2_1653093035659.json
ExperimentSession_3_1653093035659.json
ExperimentSession_4_1653093035659.json
ExperimentSession_5_1653093035659.json
ExperimentSession_6_1653093035659.json
ExperimentSession_7_1653093035659.json
ExperimentSession_8_1653093035659.json
ExperimentSession_9_1653093035659.json
ExperimentSession_0_1652747508436.json
ExperimentSession_1_1652747508436.json
ExperimentSession_2_1652747508436.json
ExperimentSession_3_1652747508436.json
ExperimentSession_4_1652747508436.json
ExperimentSession_5_1652747508436.json
ExperimentSession_6_1652747508436.json
ExperimentSession_7_1652747508436.json
ExperimentSession_8_1652747508436.json
ExperimentSession_9_1652747508436.json
ExperimentSession_0_1652743222425.json
ExperimentSession_1_1652743222425.json
ExperimentSession_2_1652743222425.json
ExperimentSession_3_1652743222425.json
ExperimentSession_4_1652743222425.json
ExperimentSession_5_1652743222425.json
ExperimentSession_6_1652743222425.json
ExperimentSession_7_1652743222425.json
ExperimentSession_8_1652743222425.json
ExperimentSession_9_1652743222425.json
ExperimentSession_0_1653001998229.json
ExperimentSession_1_1653001998229.json
ExperimentSession_2_1653001998229.json
ExperimentSession_3_1653001998229.json
ExperimentSession_4_1653001998229.json
ExperimentSession_5_1653001998229.json
ExperimentSession_6_1653001998229.json
ExperimentSession_7_1653001998229.json
ExperimentSession_8_1653001998229.json
ExperimentSession_9_1653001998229.json
ExperimentSession_0_1653693970381.json
ExperimentSession_1_1653693970381.json
ExperimentSession_2_1653693970381.json
ExperimentSession_3_1653693970381.json
ExperimentSession_4_1653693970381.json
ExperimentSession_5_1653693970381.json
ExperimentSession_6_1653693970381.json
ExperimentSession_7_1653693970381.json
ExperimentSession_8_1653693970381.json
ExperimentSession_9_1653693970381.json
ExperimentSession_0_1653504941525.json
ExperimentSession_1_1653504941525.json
ExperimentSession_2_1653504941525.json
ExperimentSession_3_1653504941525.json
ExperimentSession_4_1653504941525.json
ExperimentSession_5_1653504941525.json
ExperimentSession_6_1653504941525.json
ExperimentSession_7_1653504941525.json
ExperimentSession_8_1653504941525.json
ExperimentSession_9_1653504941525.json
ExperimentSession_0_1652995882150.json
ExperimentSession_1_1652995882150.json
ExperimentSession_2_1652995882150.json
ExperimentSession_3_1652995882150.json
ExperimentSession_4_1652995882150.json
ExperimentSession_5_1652995882150.json
ExperimentSession_6_1652995882150.json
ExperimentSession_7_1652995882150.json
ExperimentSession_8_1652995882150.json
ExperimentSession_9_1652995882150.json
ExperimentSession_0_1652990661605.json
ExperimentSession_1_1652990661605.json
ExperimentSession_2_1652990661605.json
ExperimentSession_3_1652990661605.json
ExperimentSession_4_1652990661605.json
ExperimentSession_5_1652990661605.json
ExperimentSession_6_1652990661605.json
ExperimentSession_7_1652990661605.json
ExperimentSession_8_1652990661605.json
ExperimentSession_9_1652990661605.json
ExperimentSession_0_1653593315413.json
ExperimentSession_1_1653593315413.json
ExperimentSession_2_1653593315413.json
ExperimentSession_3_1653593315413.json
ExperimentSession_4_1653593315413.json
ExperimentSession_5_1653593315413.json
ExperimentSession_6_1653593315413.json
ExperimentSession_7_1653593315413.json
ExperimentSession_8_1653593315413.json
ExperimentSession_9_1653593315413.json
ExperimentSession_0_1652812815184.json
ExperimentSession_1_1652812815184.json
ExperimentSession_2_1652812815184.json
ExperimentSession_3_1652812815184.json
ExperimentSession_4_1652812815184.json
ExperimentSession_5_1652812815184.json
ExperimentSession_6_1652812815184.json
ExperimentSession_7_1652812815184.json
ExperimentSession_8_1652812815184.json
ExperimentSession_9_1652812815184.json
ExperimentSession_0_1652725907157.json
ExperimentSession_1_1652725907157.json
ExperimentSession_2_1652725907157.json
ExperimentSession_3_1652725907157.json
ExperimentSession_4_1652725907157.json
ExperimentSession_5_1652725907157.json
ExperimentSession_6_1652725907157.json
ExperimentSession_7_1652725907157.json
ExperimentSession_8_1652725907157.json
ExperimentSession_9_1652725907157.json
ExperimentSession_0_1653434456355.json
ExperimentSession_1_1653434456355.json
ExperimentSession_2_1653434456355.json
ExperimentSession_3_1653434456355.json
ExperimentSession_4_1653434456355.json
ExperimentSession_5_1653434456355.json
ExperimentSession_6_1653434456355.json
ExperimentSession_7_1653434456355.json
ExperimentSession_8_1653434456355.json
ExperimentSession_9_1653434456355.json
ExperimentSession_0_1653412225969.json
ExperimentSession_1_1653412225969.json
ExperimentSession_2_1653412225969.json
ExperimentSession_3_1653412225969.json
ExperimentSession_4_1653412225969.json
ExperimentSession_5_1653412225969.json
ExperimentSession_6_1653412225969.json
ExperimentSession_7_1653412225969.json
ExperimentSession_8_1653412225969.json
ExperimentSession_9_1653412225969.json
ExperimentSession_0_1653347121503.json
ExperimentSession_1_1653347121503.json
ExperimentSession_2_1653347121503.json
ExperimentSession_3_1653347121503.json
ExperimentSession_4_1653347121503.json
ExperimentSession_5_1653347121503.json
ExperimentSession_6_1653347121503.json
ExperimentSession_7_1653347121503.json
ExperimentSession_8_1653347121503.json
ExperimentSession_9_1653347121503.json
ExperimentSession_0_1652721761374.json
ExperimentSession_1_1652721761374.json
ExperimentSession_2_1652721761374.json
ExperimentSession_3_1652721761374.json
ExperimentSession_4_1652721761374.json
ExperimentSession_5_1652721761374.json
ExperimentSession_6_1652721761374.json
ExperimentSession_7_1652721761374.json
ExperimentSession_8_1652721761374.json
ExperimentSession_9_1652721761374.json
ExperimentSession_0_1652817995073.json
ExperimentSession_1_1652817995073.json
ExperimentSession_2_1652817995073.json
ExperimentSession_3_1652817995073.json
ExperimentSession_4_1652817995073.json
ExperimentSession_5_1652817995073.json
ExperimentSession_6_1652817995073.json
ExperimentSession_7_1652817995073.json
ExperimentSession_8_1652817995073.json
ExperimentSession_9_1652817995073.json
ExperimentSession_0_1652829227616.json
ExperimentSession_1_1652829227616.json
ExperimentSession_2_1652829227616.json
ExperimentSession_3_1652829227616.json
ExperimentSession_4_1652829227616.json
ExperimentSession_5_1652829227616.json
ExperimentSession_6_1652829227616.json
ExperimentSession_7_1652829227616.json
ExperimentSession_8_1652829227616.json
ExperimentSession_9_1652829227616.json
ExperimentSession_0_1653526366633.json
ExperimentSession_1_1653526366633.json
ExperimentSession_2_1653526366633.json
ExperimentSession_3_1653526366633.json
ExperimentSession_4_1653526366633.json
ExperimentSession_5_1653526366633.json
ExperimentSession_6_1653526366633.json
ExperimentSession_7_1653526366633.json
ExperimentSession_8_1653526366633.json
ExperimentSession_9_1653526366633.json
ExperimentSession_0_1653417440737.json
ExperimentSession_1_1653417440737.json
ExperimentSession_2_1653417440737.json
ExperimentSession_3_1653417440737.json
ExperimentSession_4_1653417440737.json
ExperimentSession_5_1653417440737.json
ExperimentSession_6_1653417440737.json
ExperimentSession_7_1653417440737.json
ExperimentSession_8_1653417440737.json
ExperimentSession_9_1653417440737.json
ExperimentSession_0_1653422639606.json
ExperimentSession_1_1653422639606.json
ExperimentSession_2_1653422639606.json
ExperimentSession_3_1653422639606.json
ExperimentSession_4_1653422639606.json
ExperimentSession_5_1653422639606.json
ExperimentSession_6_1653422639606.json
ExperimentSession_7_1653422639606.json
ExperimentSession_8_1653422639606.json
ExperimentSession_9_1653422639606.json
ExperimentSession_0_1653088236645.json
ExperimentSession_1_1653088236645.json
ExperimentSession_2_1653088236645.json
ExperimentSession_3_1653088236645.json
ExperimentSession_4_1653088236645.json
ExperimentSession_5_1653088236645.json
ExperimentSession_6_1653088236645.json
ExperimentSession_7_1653088236645.json
ExperimentSession_8_1653088236645.json
ExperimentSession_9_1653088236645.json
ExperimentSession_0_1653596651437.json
ExperimentSession_1_1653596651437.json
ExperimentSession_2_1653596651437.json
ExperimentSession_3_1653596651437.json
ExperimentSession_4_1653596651437.json
ExperimentSession_5_1653596651437.json
ExperimentSession_6_1653596651437.json
ExperimentSession_7_1653596651437.json
ExperimentSession_8_1653596651437.json
ExperimentSession_9_1653596651437.json
ExperimentSession_0_1652904565146.json
ExperimentSession_1_1652904565146.json
ExperimentSession_2_1652904565146.json
ExperimentSession_3_1652904565146.json
ExperimentSession_4_1652904565146.json
ExperimentSession_5_1652904565146.json
ExperimentSession_6_1652904565146.json
ExperimentSession_7_1652904565146.json
ExperimentSession_8_1652904565146.json
ExperimentSession_9_1652904565146.json
ExperimentSession_0_1653330035969.json
ExperimentSession_1_1653330035969.json
ExperimentSession_2_1653330035969.json
ExperimentSession_3_1653330035969.json
ExperimentSession_4_1653330035969.json
ExperimentSession_5_1653330035969.json
ExperimentSession_6_1653330035969.json
ExperimentSession_7_1653330035969.json
ExperimentSession_8_1653330035969.json
ExperimentSession_9_1653330035969.json
ExperimentSession_0_1653430441578.json
ExperimentSession_1_1653430441578.json
ExperimentSession_2_1653430441578.json
ExperimentSession_3_1653430441578.json
ExperimentSession_4_1653430441578.json
ExperimentSession_5_1653430441578.json
ExperimentSession_6_1653430441578.json
ExperimentSession_7_1653430441578.json
ExperimentSession_8_1653430441578.json
ExperimentSession_9_1653430441578.json
ExperimentSession_0_1652980879116.json
ExperimentSession_1_1652980879116.json
ExperimentSession_2_1652980879116.json
ExperimentSession_3_1652980879116.json
ExperimentSession_4_1652980879116.json
ExperimentSession_5_1652980879116.json
ExperimentSession_6_1652980879116.json
ExperimentSession_7_1652980879116.json
ExperimentSession_8_1652980879116.json
ExperimentSession_9_1652980879116.json
ExperimentSession_0_1653606141437.json
ExperimentSession_1_1653606141437.json
ExperimentSession_2_1653606141437.json
ExperimentSession_3_1653606141437.json
ExperimentSession_4_1653606141437.json
ExperimentSession_5_1653606141437.json
ExperimentSession_6_1653606141437.json
ExperimentSession_7_1653606141437.json
ExperimentSession_8_1653606141437.json
ExperimentSession_9_1653606141437.json
ExperimentSession_0_1653699220038.json
ExperimentSession_1_1653699220038.json
ExperimentSession_2_1653699220038.json
ExperimentSession_3_1653699220038.json
ExperimentSession_4_1653699220038.json
ExperimentSession_5_1653699220038.json
ExperimentSession_6_1653699220038.json
ExperimentSession_7_1653699220038.json
ExperimentSession_0_1653342346786.json
ExperimentSession_1_1653342346786.json
ExperimentSession_2_1653342346786.json
ExperimentSession_3_1653342346786.json
ExperimentSession_4_1653342346786.json
ExperimentSession_5_1653342346786.json
ExperimentSession_6_1653342346786.json
ExperimentSession_7_1653342346786.json
ExperimentSession_8_1653342346786.json
ExperimentSession_9_1653342346786.json
ExperimentSession_0_1653601048503.json
ExperimentSession_1_1653601048503.json
ExperimentSession_2_1653601048503.json
ExperimentSession_3_1653601048503.json
ExperimentSession_4_1653601048503.json
ExperimentSession_5_1653601048503.json
ExperimentSession_6_1653601048503.json
ExperimentSession_7_1653601048503.json
ExperimentSession_8_1653601048503.json
ExperimentSession_9_1653601048503.json
ExperimentSession_0_1652916228040.json
ExperimentSession_1_1652916228040.json
ExperimentSession_2_1652916228040.json
ExperimentSession_3_1652916228040.json
ExperimentSession_4_1652916228040.json
ExperimentSession_5_1652916228040.json
ExperimentSession_6_1652916228040.json
ExperimentSession_7_1652916228040.json
ExperimentSession_8_1652916228040.json
ExperimentSession_9_1652916228040.json
ExperimentSession_0_1652836570131.json
ExperimentSession_1_1652836570131.json
ExperimentSession_2_1652836570131.json
ExperimentSession_3_1652836570131.json
ExperimentSession_4_1652836570131.json
ExperimentSession_5_1652836570131.json
ExperimentSession_6_1652836570131.json
ExperimentSession_7_1652836570131.json
ExperimentSession_8_1652836570131.json
ExperimentSession_9_1652836570131.json
ExperimentSession_0_1653611021518.json
ExperimentSession_1_1653611021518.json
ExperimentSession_2_1653611021518.json
ExperimentSession_3_1653611021518.json
ExperimentSession_4_1653611021518.json
ExperimentSession_5_1653611021518.json
ExperimentSession_6_1653611021518.json
ExperimentSession_7_1653611021518.json
ExperimentSession_8_1653611021518.json
ExperimentSession_9_1653611021518.json
ExperimentSession_0_1653068243892.json
ExperimentSession_1_1653068243892.json
ExperimentSession_2_1653068243892.json
ExperimentSession_3_1653068243892.json
ExperimentSession_4_1653068243892.json
ExperimentSession_5_1653068243892.json
ExperimentSession_6_1653068243892.json
ExperimentSession_7_1653068243892.json
ExperimentSession_8_1653068243892.json
ExperimentSession_9_1653068243892.json

In [103]:
allsession

sessionsUnpacked = list(itertools.chain(allsession))
sessionsDf = pandas.DataFrame(sessionsUnpacked)
sessionsDf = sessionsDf.sort_values(by='sessionNumber')

#sessionsDf = sessionsDf.loc[sessionsDf["sessionNumber"] < 9 ]
sessionsDf.head(1)

,userID,numFrames,task,start_time,end_time,total_time,sessionNumber,isResponsive,frames
0,61,92,The task is to click on the 2nd article title....,1653325572932,1653325575801,2869,0,True,"[{'userID': 61, 'frameNum': 1, 'unixTime': 165..."

USER 56 was unable to finish task 7 (when starting from 0) remove their task 8 from data

In [104]:
session_to_drop = sessionsDf.loc[(sessionsDf["userID"] == 56) & (sessionsDf["sessionNumber"] == 7)]
sessionsDf.drop(session_to_drop.index)

session_to_drop

,userID,numFrames,task,start_time,end_time,total_time,sessionNumber,isResponsive,frames
77,56,1434,The task is to find the current location on th...,1652899626599,1652899774967,148368,7,False,"[{'userID': 56, 'frameNum': 1741, 'unixTime': ..."

In [105]:
framesUnpacked = list(itertools.chain(*sessionsDf["frames"]))
framesDf = pandas.DataFrame(framesUnpacked)
print(framesDf.shape)
framesDf.head(1)

(144426, 14)

,userID,frameNum,unixTime,timestamp,hPos,hDir,hRot,hAngl,gazeOrigin,gazeDirection,rightHandRay,leftHandRay,experimentEvents,responsiveData
0,61,1,1653325566491,16470,"{'x': -0.018050827085971832, 'y': -0.004202843...","{'x': -0.0035658455453813076, 'y': -0.24633377...","{'x': 0.12413376569747925, 'y': -0.00124909367...","{'x': 14.260669708251953, 'y': 359.78918457031...","{'x': -0.017374971881508827, 'y': -0.004261824...","{'x': -0.0014919827226549387, 'y': -0.24794106...","{'x': -0.0683116614818573, 'y': 0.569282412528...","{'x': 0.0, 'y': 0.0, 'z': 0.0}","[{'unixTime': 1653325566402, 'systemTime': '10...","{'name': '', 'scale': {'x': 0.0, 'y': 0.0, 'z'..."

In [106]:
users = framesDf.loc[framesDf["experimentEvents"].str.len() != 0]
print(users.shape)

experimentUnpacked = list(itertools.chain(*users["experimentEvents"]))
experimentDf = pandas.DataFrame(experimentUnpacked)
experimentDf.head(1)
print(experimentDf.shape)
experimentDf.shape

experimentDf["userID"] = users["userID"]

for i in users.index:
    eventDF = pandas.DataFrame(users["experimentEvents"][i])

    for j in eventDF.index:
        time = eventDF["unixTime"][j]
        userID = users["userID"][i]
        mask = experimentDf["unixTime"] == time
        experimentDf.loc[mask, "userID"] = userID

experimentDf.head(1)

(2649, 14)
(3560, 10)

,unixTime,systemTime,isResponsive,eventName,task_number,task_type,object_scale,object_position,correct_answer,guess,userID
0,1653325566402,10-06-06-40,True,instruction,0,Article Display,"{'x': 0.25, 'y': 0.25, 'z': 0.25}","{'x': -0.01604645512998104, 'y': 0.02574505284...",2nd Title,,61.0

In [107]:
startEvents = experimentDf.loc[experimentDf["eventName"] == "start"]
startEvents.head(3)

,unixTime,systemTime,isResponsive,eventName,task_number,task_type,object_scale,object_position,correct_answer,guess,userID
1,1653325572982,10-06-12-98,True,start,0,Article Display,"{'x': 0.25, 'y': 0.25, 'z': 0.25}","{'x': -0.01604645512998104, 'y': 0.02574505284...",2nd Title,,61.0
3,1652747526727,17-32-06-72,False,start,0,Article Display,"{'x': 0.25, 'y': 0.25, 'z': 0.25}","{'x': 0.06302891671657562, 'y': 0.021540082991...",2nd Title,,34.0
5,1653347136313,16-05-36-31,True,start,0,Article Display,"{'x': 0.25, 'y': 0.25, 'z': 0.25}","{'x': 0.021247876808047295, 'y': 0.05604220554...",2nd Title,,53.0

In [108]:
sessionsDf

,userID,numFrames,task,start_time,end_time,total_time,sessionNumber,isResponsive,frames
0,61,92,The task is to click on the 2nd article title....,1653325572932,1653325575801,2869,0,True,"[{'userID': 61, 'frameNum': 1, 'unixTime': 165..."
120,34,210,The task is to click on the 2nd article title....,1652747526667,1652747540607,13940,0,False,"[{'userID': 34, 'frameNum': 1, 'unixTime': 165..."
240,53,153,The task is to click on the 2nd article title....,1653347136263,1653347142364,6101,0,True,"[{'userID': 53, 'frameNum': 1, 'unixTime': 165..."
330,41,80,The task is to click on the 2nd article title....,1652904601496,1652904604747,3251,0,True,"[{'userID': 41, 'frameNum': 1, 'unixTime': 165..."
388,71,110,The task is to click on the 2nd article title....,1653342438648,1653342442018,3370,0,True,"[{'userID': 71, 'frameNum': 1, 'unixTime': 165..."
...,...,...,...,...,...,...,...,...,...
369,70,1,,0,0,0,9,False,"[{'userID': 70, 'frameNum': 2210, 'unixTime': ..."
119,60,1,,0,0,0,9,False,"[{'userID': 60, 'frameNum': 3456, 'unixTime': ..."
239,54,1,,0,0,0,9,False,"[{'userID': 54, 'frameNum': 2705, 'unixTime': ..."
39,57,1,,0,0,0,9,False,"[{'userID': 57, 'frameNum': 3809, 'unixTime': ..."
447,78,1,,0,0,0,9,False,"[{'userID': 78, 'frameNum': 2803, 'unixTime': ..."

In [109]:
sessionsDf["Actual_Start_Time"] = sessionsDf["start_time"]

for i in startEvents.index:
    userID = startEvents["userID"][i]
    task_num = startEvents["task_number"][i]
    mask = (sessionsDf["userID"] == userID) & (sessionsDf["sessionNumber"] == task_num)
    sessionsDf.loc[mask, "Actual_Start_Time"] = startEvents["unixTime"][i]

sessionsDf.head(1)

,userID,numFrames,task,start_time,end_time,total_time,sessionNumber,isResponsive,frames,Actual_Start_Time
0,61,92,The task is to click on the 2nd article title....,1653325572932,1653325575801,2869,0,True,"[{'userID': 61, 'frameNum': 1, 'unixTime': 165...",1653325572982

In [110]:
endEvents = experimentDf.loc[experimentDf["eventName"] == "complete"]
endEvents.head(1)

,unixTime,systemTime,isResponsive,eventName,task_number,task_type,object_scale,object_position,correct_answer,guess,userID
94,1652899453671,11-44-13-67,False,complete,0,Article Display,"{'x': 0.25, 'y': 0.25, 'z': 0.25}","{'x': 0.21994057297706604, 'y': -0.01243835873...",2nd Title,2nd Title,56.0

In [111]:
sessionsDf["Actual_End_Time"] = sessionsDf["end_time"]

for i in endEvents.index:
    userID = endEvents["userID"][i]
    task_num = endEvents["task_number"][i]
    mask = (sessionsDf["userID"] == userID) & (sessionsDf["sessionNumber"] == task_num)
    sessionsDf.loc[mask, "Actual_End_Time"] = endEvents["unixTime"][i]

sessionsDf.head(1)

,userID,numFrames,task,start_time,end_time,total_time,sessionNumber,isResponsive,frames,Actual_Start_Time,Actual_End_Time
0,61,92,The task is to click on the 2nd article title....,1653325572932,1653325575801,2869,0,True,"[{'userID': 61, 'frameNum': 1, 'unixTime': 165...",1653325572982,1653325575801

In [112]:
end_time_diff = sessionsDf["end_time"].to_numpy() - sessionsDf["Actual_End_Time"].to_numpy()
end_time_diff

array([  0, -10,   0,   0,   0, -10,   0, -11,   0,   0,   0,   0,  -3,
       -11,   0,   0,   0, -10,   0,   0,  -4, -11,   0, -10,  -7, -10,
       -10, -10,   0,   0, -10, -11,   0, -10,   0, -10, -10, -10,  -5,
         0,   0,   0,   0,   0, -10,   0,   0,   0,   0, -10, -10,   0,
       -12, -10,   0,   0,  -9,   0,   0,   0,   0, -10, -11,   0, -10,
         0,   0, -10,   0,  -6,   0, -10,   0, -10, -10,   0, -11, -10,
        -4,   0,   0,   0,   0, -10,   0,  -2,   0,   0,   0,   0, -10,
        -9,   0,   0, -10,   0,   0,  -9,   0,   0,   0,  -6,   0,   0,
         0, -10,   0,   0,   0,   0,   0,  -8, -10,   0,   0,   0, -10,
        -5, -10,   0,   0,   0,   0, -11, -10,   0,  -7,  -6,   0,  -4,
         0,   0,   0,   0, -10,   0,   0, -10,   0,   0, -10,   0,   0,
        -4,   0,   0,   0, -10,   0,   0,   0,   0,   0,   0, -10,   0,
       -10, -10, -11,  -7,  -3,   0, -10, -10,  -9,  -6, -10,  -9,  -9,
         0, -10, -10, -10,   0,   0,   0,  -9, -10,   0, -10,   0,   0,
         0,  -5,  -5,   0,   0, -10,   0,  -7,  -8,   0,  -9,   0,   0,
         0,   0, -10,   0, -10,   0,   0,   0, -10, -11,   0,  -9,   0,
         0, -10,  -9,  -3,   0,   0, -10,   0, -10,   0,   0, -10,   0,
         0,   0,   0,   0, -10,   0,   0,   0,  -5,   0,  -9,   0,  -5,
         0, -10,   0,   0, -10, -10,   0,  -9,   0,   0,   0,   0, -10,
         0,   0,   0,  -9,  -5,  -5,   0,   0,   0,   0,   0,   0,   0,
         0, -10,  -9,   0, -11,  -9,   0, -10, -10,   0,   0,  -9,  -9,
         0,   0,   0,   0,   0,   0,   0, -15,   0,   0, -10,   0, -10,
       -10,   0,   0,   0,  -5, -10,   0, -10,   0, -11,   0, -10, -10,
         0,   0,   0,   0,   0, -10, -11,  -4,   0,   0, -10,   0,   0,
       -10,   0,   0,   0, -11,   0,  -5,   0,   0,   0,  -9,   0, -10,
         0,   0, -10,   0, -10, -10,   0,  -9,   0,   0, -10,  -1,   0,
       -10, -10,   0,   0,  -5, -10,   0,   0,   0,   0,   0,   0,  -6,
         0, -10, -10,   0,  -6,   0,   0, -10, -10, -12,  -9,   0, -16,
       -10,   0, -10,  -5, -14,   0, -10,  -9, -10,   0, -10,   0,   0,
        -5,   0,   0, -10, -10,   0,   0,   0, -10, -10,  -4,   0,   0,
         0, -10, -10,   0,   0,   0,   0,  -5,   0, -12,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0])

In [113]:
guessEvents = experimentDf.loc[experimentDf["eventName"] == "answer"]
guessEvents.head(3)

sessionsDf["Guesses"] = 0

In [114]:
for i in guessEvents.index:
    userID = guessEvents["userID"][i]
    task_num = guessEvents["task_number"][i]
    mask = (sessionsDf["userID"] == userID) & (sessionsDf["sessionNumber"] == task_num)
    sessionsDf.loc[mask, "Guesses"] += 1

In [115]:
start_time_diff = sessionsDf["start_time"].to_numpy() - sessionsDf["Actual_Start_Time"].to_numpy()
start_time_diff

array([           -50,            -60,            -50,            -50,
                  -50,            -60,            -50,            -56,
                  -50,            -50,            -50,            -61,
                  -50,            -50,            -60,            -56,
                  -50,            -61,            -60,            -51,
                  -60,            -50,            -49,            -52,
                  -62,            -60,            -59,            -50,
                  -60,            -49,            -51,            -61,
                  -50,            -50,            -50,            -50,
                  -43,            -60,            -60,            -45,
                  -60,            -50,            -60,            -51,
                  -60,            -45,            -40,            -30,
                  -40,            -40,            -43,            -40,
                  -50,            -40,            -38,            -39,
                  -40,            -40,            -40,            -42,
                  -40,            -28,            -40,            -40,
                  -40,            -40,            -40,            -40,
                  -41,            -40,            -41,            -50,
                  -40,            -30,            -40,            -46,
                  -31,            -40,            -40,            -30,
                  -40,            -39,            -40,            -40,
                  -51,            -40,            -40,            -40,
                  -40,            -40,            -29,            -40,
                  -39,            -40,            -50,            -40,
                  -40,            -40,            -41,            -39,
                  -40,            -41,            -40,            -39,
                  -40,            -40,            -40,            -40,
                  -41,            -40,            -41,            -46,
                  -41,            -40,            -40,            -40,
                  -41,            -40,            -40,            -40,
                  -39,            -40,            -40,            -40,
                  -43,            -40,            -40,            -40,
                  -40,            -30,            -40,            -41,
                  -40,            -32,            -40,            -37,
                  -40,            -33,            -40,            -40,
                  -41,            -40,            -50,            -40,
                  -41,            -40,            -40,            -40,
                  -40,            -36,            -40,            -38,
                  -40,            -40,            -39,            -40,
                  -39,            -40,            -50,            -41,
                  -40,            -40,            -30,            -40,
                  -46,            -40,            -40,            -40,
                  -40,            -41,            -40,            -40,
                  -40,            -40,            -40,            -40,
                  -47,            -41,            -45,            -40,
                  -14,            -20,            -18,            -21,
                  -10,            -10,            -20,            -19,
                  -19,            -16,            -22,            -19,
                  -21,            -10,            -20,            -19,
                  -10,            -20,            -19,            -20,
                  -21,            -21,            -21,            -10,
                  -20,            -20,            -10,            -20,
                  -19,            -20,            -16,            -21,
                  -20,            -20,            -20,            -30,
                  -20,            -19,            -19,            -20,
                  -20,            -10,            -20,            -20,
                  -20,            -10,            -10,            -10,
                  -10,            -10,            -10,            -10,
                  -10,              0,            -10,              0,
                  -11,             -4,              0,             -9,
                   -4,            -10,            -11,              0,
                  -11,            -10,             -9,              0,
                  -10,            -10,            -10,            -10,
                  -11,              0,              0,            -11,
                   -1,              0,              0,            -10,
                   -3,            -10,              0,              0,
                  -10,            -10,             -6,            -10,
                  -21,              0,            -10,            -10,
                  -10,            -20,            -11,            -10,
                  -10,            -10,            -11,            -11,
                  -20,            -20,            -10,            -10,
                  -10,            -11,            -19,            -20,
                   -4,            -10,            -10,            -15,
                  -10,            -10,            -11,            -21,
                  -10,            -16,             -9,            -20,
                  -10,            -11,             -9,            -20,
                  -11,            -10,            -20,             -3,
                  -11,             -8,            -10,            -10,
                  -16,            -16,            -10,            -10,
                  -10,            -10,            -10,            -10,
                   -9,              0,              0,            -10,
                  -10,            -11,            -10,              0,
                    0,            -10,            -16, -1653699433552,
                  -10,            -11,              0,            -10,
                   -5,              0,            -11,            -10,
                    0,             -8,              0,              0,
                    0,            -10,            -10,            -10,
                   -5,              0,             -5,            -10,
                    0,              0,              0,            -10,
                    0,              0,            -10,              0,
                  -10,              0,            -10,             -9,
                  -10,              0,            -10,              0,
                  -12,            -11,            -10,            -10,
                  -13,              0,            -10,            -10,
                    0,              0,            -10,            -10,
                  -10,            -11,              0,            -10,
                  -11,            -10,            -10,            -16,
                  -10,            -10,             -5,            -10,
                  -10,            -11,            -11,            -10,
                   -9,              0,             -3,            -10,
                  -10,            -10,              0,            -10,
                    0,              0,              0,              0,
                    0,              0,              0,              0,
                    0,              0,              0,              0,
                    0,              0,              0,              0,
                    0,              0,              0,              0,
                    0,              0,              0,              0,
                    0,              0,              0,              0,
                    0,              0,              0,              0,
                    0,              0,              0,              0,
                    0,              0,              0,              0,
                    0,              0,              0,              0])

In [116]:
sessionsDf["Actual_Total_Time"] = sessionsDf["Actual_End_Time"].to_numpy() - sessionsDf["Actual_Start_Time"].to_numpy()
sessionsDf.head(1)

,userID,numFrames,task,start_time,end_time,total_time,sessionNumber,isResponsive,frames,Actual_Start_Time,Actual_End_Time,Guesses,Actual_Total_Time
0,61,92,The task is to click on the 2nd article title....,1653325572932,1653325575801,2869,0,True,"[{'userID': 61, 'frameNum': 1, 'unixTime': 165...",1653325572982,1653325575801,1,2819

In [117]:
start_time_diff = sessionsDf["total_time"].to_numpy() - sessionsDf["Actual_Total_Time"].to_numpy()
start_time_diff

array([           50,            50,            50,            50,
                  50,            50,            50,            45,
                  50,            50,            50,            61,
                  47,            39,            60,            56,
                  50,            51,            60,            51,
                  56,            39,            49,            42,
                  55,            50,            49,            40,
                  60,            49,            41,            50,
                  50,            40,            50,            40,
                  33,            50,            55,            45,
                  60,            50,            60,            51,
                  50,            45,            40,            30,
                  40,            30,            33,            40,
                  38,            30,            38,            39,
                  31,            40,            40,            42,
                  40,            18,            29,            40,
                  30,            40,            40,            30,
                  41,            34,            41,            40,
                  40,            20,            30,            46,
                  20,            30,            36,            30,
                  40,            39,            40,            30,
                  51,            38,            40,            40,
                  40,            40,            19,            31,
                  39,            40,            40,            40,
                  40,            31,            41,            39,
                  40,            35,            40,            39,
                  40,            30,            40,            40,
                  41,            40,            41,            38,
                  31,            40,            40,            40,
                  31,            35,            30,            40,
                  39,            40,            40,            29,
                  33,            40,            33,            34,
                  40,            26,            40,            41,
                  40,            32,            30,            37,
                  40,            23,            40,            40,
                  31,            40,            50,            36,
                  41,            40,            40,            30,
                  40,            36,            40,            38,
                  40,            40,            29,            40,
                  29,            30,            39,            34,
                  37,            40,            20,            30,
                  37,            34,            30,            31,
                  31,            41,            30,            30,
                  30,            40,            40,            40,
                  38,            31,            45,            30,
                  14,            20,            18,            16,
                   5,            10,            20,             9,
                  19,             9,            14,            19,
                  12,            10,            20,            19,
                  10,            10,            19,            10,
                  21,            21,            21,             0,
                   9,            20,             1,            20,
                  19,            10,             7,            18,
                  20,            20,            10,            30,
                  10,            19,            19,            10,
                  20,            10,            20,            20,
                  20,             0,            10,            10,
                  10,             5,            10,             1,
                  10,            -5,            10,           -10,
                  11,             4,           -10,            -1,
                   4,             1,            11,             0,
                  11,            10,            -1,             0,
                  10,            10,             1,             5,
                   6,             0,             0,            11,
                   1,             0,             0,            10,
                   3,             0,            -9,             0,
                  -1,             1,             6,             0,
                  11,             0,            10,             1,
                   1,            20,            11,            10,
                  10,            10,            11,            11,
                   5,            20,            10,             0,
                  10,             1,             9,            20,
                   4,            10,             5,             5,
                  10,             0,            11,            10,
                  10,             6,            -1,            20,
                  10,            11,             9,            20,
                   1,            -1,            16,             3,
                  11,            -2,            10,            10,
                   6,            16,            10,            10,
                  -1,            10,             5,            10,
                   9,             0,            -9,            10,
                   0,            11,            10,           -10,
                   0,             0,             6, 1653699433552,
                   1,            11,             0,             0,
                   4,             0,             1,             0,
                   0,             8,            -5,           -10,
                   0,            10,            10,            10,
                   5,             0,            -1,            10,
                 -10,           -10,             0,             4,
                   0,             0,             0,           -10,
                  -2,            -9,            10,            -7,
                   0,             0,             0,            -5,
                  -2,            11,             0,             1,
                   3,             0,             0,            10,
                   0,            -5,            10,            10,
                   0,             1,             0,            10,
                  11,             0,             0,            12,
                  10,            10,             5,             0,
                   0,            11,            11,            10,
                   9,            -5,             3,            -2,
                  10,            10,             0,            10,
                   0,             0,             0,             0,
                   0,             0,             0,             0,
                   0,             0,             0,             0,
                   0,             0,             0,             0,
                   0,             0,             0,             0,
                   0,             0,             0,             0,
                   0,             0,             0,             0,
                   0,             0,             0,             0,
                   0,             0,             0,             0,
                   0,             0,             0,             0,
                   0,             0,             0,             0])

In [118]:
responsiveDf = sessionsDf.loc[sessionsDf["isResponsive"] == True]
responsiveDf = responsiveDf.sort_values("Actual_Total_Time")
responsiveDf

,userID,numFrames,task,start_time,end_time,total_time,sessionNumber,isResponsive,frames,Actual_Start_Time,Actual_End_Time,Guesses,Actual_Total_Time
131,33,53,The task is to click the 5th article title.\n\...,1652743242306,1652743244466,2160,1,True,"[{'userID': 33, 'frameNum': 95, 'unixTime': 16...",1652743242346,1652743244466,1,2120
261,37,44,The task is to click the 5th article title.\n\...,1652818011143,1652818013353,2210,1,True,"[{'userID': 37, 'frameNum': 53, 'unixTime': 16...",1652818011183,1652818013353,1,2170
211,31,67,The task is to click the 5th article title.\n\...,1652726021550,1652726023839,2289,1,True,"[{'userID': 31, 'frameNum': 189, 'unixTime': 1...",1652726021589,1652726023839,1,2250
1,61,48,The task is to click the 5th article title.\n\...,1653325578382,1653325580702,2320,1,True,"[{'userID': 61, 'frameNum': 93, 'unixTime': 16...",1653325578422,1653325580702,1,2280
63,69,118,The task is to click the Date of the 1st artic...,1653438698298,1653438700788,2490,3,True,"[{'userID': 69, 'frameNum': 362, 'unixTime': 1...",1653438698338,1653438700798,1,2460
...,...,...,...,...,...,...,...,...,...,...,...,...,...
215,31,1719,The task is to type phone number 805-UCSB-EDU ...,1652726084621,1652726272953,188332,5,True,"[{'userID': 31, 'frameNum': 806, 'unixTime': 1...",1652726084621,1652726272953,4,188332
246,53,1921,The task is to find the current temperature on...,1653347322034,1653347533250,211216,6,True,"[{'userID': 53, 'frameNum': 1803, 'unixTime': ...",1653347322037,1653347533250,23,211213
185,43,2221,The task is to type phone number 805-UCSB-EDU ...,1652990824367,1652991077151,252784,5,True,"[{'userID': 43, 'frameNum': 1430, 'unixTime': ...",1652990824377,1652991077162,3,252785
288,55,2324,The task is to find the low temperature on th...,1653526723809,1653526987514,263705,8,True,"[{'userID': 55, 'frameNum': 2672, 'unixTime': ...",1653526723819,1653526987514,68,263695
266,37,3170,The task is to find the current temperature on...,1652818090154,1652818498112,407958,6,True,"[{'userID': 37, 'frameNum': 809, 'unixTime': 1...",1652818090170,1652818498112,51,407942

In [119]:
nonresponsiveDf = sessionsDf.loc[sessionsDf["isResponsive"] == False]
nonresponsiveDf = nonresponsiveDf.sort_values("Actual_Total_Time")
nonresponsiveDf

,userID,numFrames,task,start_time,end_time,total_time,sessionNumber,isResponsive,frames,Actual_Start_Time,Actual_End_Time,Guesses,Actual_Total_Time
387,85,3928,,0,0,0,7,False,"[{'userID': 85, 'frameNum': 1877, 'unixTime': ...",1653699433552,0,101,-1653699433552
447,78,1,,0,0,0,9,False,"[{'userID': 78, 'frameNum': 2803, 'unixTime': ...",0,0,0,0
129,34,1,,0,0,0,9,False,"[{'userID': 34, 'frameNum': 4089, 'unixTime': ...",0,0,0,0
69,69,1,,0,0,0,9,False,"[{'userID': 69, 'frameNum': 2353, 'unixTime': ...",0,0,0,0
319,46,1,,0,0,0,9,False,"[{'userID': 46, 'frameNum': 2587, 'unixTime': ...",0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
317,46,722,The task is to find the current location on th...,1653088505254,1653088645361,140107,7,False,"[{'userID': 46, 'frameNum': 1682, 'unixTime': ...",1653088505259,1653088645367,37,140108
77,56,1434,The task is to find the current location on th...,1652899626599,1652899774967,148368,7,False,"[{'userID': 56, 'frameNum': 1741, 'unixTime': ...",1652899626604,1652899774967,45,148363
128,34,1464,The task is to find the low temperature on th...,1652747802011,1652747952843,150832,8,False,"[{'userID': 34, 'frameNum': 2625, 'unixTime': ...",1652747802021,1652747952843,46,150822
118,60,2011,The task is to find the low temperature on th...,1653093267183,1653093491077,223894,8,False,"[{'userID': 60, 'frameNum': 1445, 'unixTime': ...",1653093267194,1653093491077,56,223883
425,40,2865,The task is to find the current location on th...,1652836895536,1652837225322,329786,7,False,"[{'userID': 40, 'frameNum': 2834, 'unixTime': ...",1652836895546,1652837225322,51,329776

In [120]:
#task 0
i = 0
taskDf = sessionsDf.loc[sessionsDf["sessionNumber"] == i]
taskDf
task_r = taskDf.loc[taskDf["isResponsive"] == True]
task_n = taskDf.loc[taskDf["isResponsive"] == False]

print(f"TASK {i}: " + task_r["task"][i])

taskRAvgTime = task_r['Actual_Total_Time'].mean()
taskRStd = task_r['Actual_Total_Time'].std()
print(f"responsive task {str(i)} Time: {taskRAvgTime:.3f}  {taskRStd:.3f}")

taskNAvgTime = task_n['Actual_Total_Time'].mean()
taskNStd = task_n['Actual_Total_Time'].std()
print(f"normal task {str(i)} Time: {taskNAvgTime:.3f}  {taskNStd:.3f}")

print(scipy.stats.ttest_ind(task_r['Actual_Total_Time'], task_n['Actual_Total_Time']))

TASK 0: The task is to click on the 2nd article title.

When you are ready, click the 'Start Task' button.
responsive task 0 Time: 5877.391  2746.772
normal task 0 Time: 8732.864  9499.073
Ttest_indResult(statistic=-1.3831090909158037, pvalue=0.1737714324941954)

In [121]:
#Task 1
i = 1
taskDf = sessionsDf.loc[sessionsDf["sessionNumber"] == i]
task_r = taskDf.loc[taskDf["isResponsive"] == True]
task_n = taskDf.loc[taskDf["isResponsive"] == False]

print(f"TASK {i}: " + task_r["task"][i])

taskRAvgTime = task_r['Actual_Total_Time'].mean()
taskRStd = task_r['Actual_Total_Time'].std()
print(f"responsive task {str(i)} Time: {taskRAvgTime:.3f}  {taskRStd:.3f}")

taskNAvgTime = task_n['Actual_Total_Time'].mean()
taskNStd = task_n['Actual_Total_Time'].std()
print(f"normal task {str(i)} Time: {taskNAvgTime:.3f}  {taskNStd:.3f}")

print(scipy.stats.ttest_ind(task_r['Actual_Total_Time'], task_n['Actual_Total_Time']))

TASK 1: The task is to click the 5th article title.

When you are ready, click the 'Start Task' button.
responsive task 1 Time: 5203.478  3872.201
normal task 1 Time: 13870.909  12837.267
Ttest_indResult(statistic=-3.0955747890442433, pvalue=0.003450230223960752)

In [122]:
#Task 2
i = 2
taskDf = sessionsDf.loc[sessionsDf["sessionNumber"] == i]
taskDf
task_r = taskDf.loc[taskDf["isResponsive"] == True]
task_n = taskDf.loc[taskDf["isResponsive"] == False]

print(f"TASK {i}: " + task_r["task"][i])

taskRAvgTime = task_r['Actual_Total_Time'].mean()
taskRStd = task_r['Actual_Total_Time'].std()
print(f"responsive task {str(i)} Time: {taskRAvgTime:.3f}  {taskRStd:.3f}")

taskNAvgTime = task_n['Actual_Total_Time'].mean()
taskNStd = task_n['Actual_Total_Time'].std()
print(f"normal task {str(i)} Time: {taskNAvgTime:.3f}  {taskNStd:.3f}")

print(scipy.stats.ttest_ind(task_r['Actual_Total_Time'], task_n['Actual_Total_Time']))

TASK 2: The task is to click the Author of the 4th article.

When you are ready, click the 'Start Task' button.
responsive task 2 Time: 15490.261  17195.831
normal task 2 Time: 10940.682  8141.135
Ttest_indResult(statistic=1.1257419043396346, pvalue=0.2665188548589997)

In [123]:
#task 3
i = 3
taskDf = sessionsDf.loc[sessionsDf["sessionNumber"] == i]
taskDf
task_r = taskDf.loc[taskDf["isResponsive"] == True]
task_n = taskDf.loc[taskDf["isResponsive"] == False]

print(f"TASK {i}: " + task_r["task"][i])

taskRAvgTime = task_r['Actual_Total_Time'].mean()
taskRStd = task_r['Actual_Total_Time'].std()
print(f"responsive task {str(i)} Time: {taskRAvgTime:.3f}  {taskRStd:.3f}")

taskNAvgTime = task_n['Actual_Total_Time'].mean()
taskNStd = task_n['Actual_Total_Time'].std()
print(f"normal task {str(i)} Time: {taskNAvgTime:.3f}  {taskNStd:.3f}")

print(scipy.stats.ttest_ind(task_r['Actual_Total_Time'], task_n['Actual_Total_Time']))

TASK 3: The task is to click the Date of the 1st article.

When you are ready, click the 'Start Task' button.
responsive task 3 Time: 8959.870  6267.435
normal task 3 Time: 11594.545  7113.611
Ttest_indResult(statistic=-1.319795354487707, pvalue=0.19388696897042312)

In [124]:
#task 4
i = 4
taskDf = sessionsDf.loc[sessionsDf["sessionNumber"] == i]
taskDf
task_r = taskDf.loc[taskDf["isResponsive"] == True]
task_n = taskDf.loc[taskDf["isResponsive"] == False]

print(f"TASK {i}: " + task_r["task"][i])

taskRAvgTime = task_r['Actual_Total_Time'].mean()
taskRStd = task_r['Actual_Total_Time'].std()
print(f"responsive task {str(i)} Time: {taskRAvgTime:.3f}  {taskRStd:.3f}")

taskNAvgTime = task_n['Actual_Total_Time'].mean()
taskNStd = task_n['Actual_Total_Time'].std()
print(f"normal task {str(i)} Time: {taskNAvgTime:.3f}  {taskNStd:.3f}")

print(scipy.stats.ttest_ind(task_r['Actual_Total_Time'], task_n['Actual_Total_Time']))

TASK 4: The task is to type the phone number 949-927-4580 on the touchpad then click call.

When you are ready, click the 'Start Task' button.
responsive task 4 Time: 28854.957  13266.773
normal task 4 Time: 24918.045  9271.555
Ttest_indResult(statistic=1.1489093643638997, pvalue=0.2569442461906608)

In [125]:
#task 5
i = 5
taskDf = sessionsDf.loc[sessionsDf["sessionNumber"] == i]
taskDf
task_r = taskDf.loc[taskDf["isResponsive"] == True]
task_n = taskDf.loc[taskDf["isResponsive"] == False]

print(f"TASK {i}: " + task_r["task"][i])

taskRAvgTime = task_r['Actual_Total_Time'].mean()
taskRStd = task_r['Actual_Total_Time'].std()
print(f"responsive task {str(i)} Time: {taskRAvgTime:.3f}  {taskRStd:.3f}")

taskNAvgTime = task_n['Actual_Total_Time'].mean()
taskNStd = task_n['Actual_Total_Time'].std()
print(f"normal task {str(i)} Time: {taskNAvgTime:.3f}  {taskNStd:.3f}")

print(scipy.stats.ttest_ind(task_r['Actual_Total_Time'], task_n['Actual_Total_Time']))

TASK 5: The task is to type phone number 805-UCSB-EDU on the touchpad then click Call.

When you are ready, click the 'Start Task' button.
responsive task 5 Time: 53541.957  59750.487
normal task 5 Time: 31121.727  22549.226
Ttest_indResult(statistic=1.6504828442201085, pvalue=0.10613076892992643)

In [126]:
#task 6
i = 6
taskDf = sessionsDf.loc[sessionsDf["sessionNumber"] == i]
task_r = taskDf.loc[taskDf["isResponsive"] == True]
task_n = taskDf.loc[taskDf["isResponsive"] == False]

print(f"TASK {i}: " + task_r["task"][i])

taskRAvgTime = task_r['Actual_Total_Time'].mean()
taskRStd = task_r['Actual_Total_Time'].std()
print(f"responsive task {str(i)} Time: {taskRAvgTime:.3f}  {taskRStd:.3f}")

taskNAvgTime = task_n['Actual_Total_Time'].mean()
taskNStd = task_n['Actual_Total_Time'].std()
print(f"normal task {str(i)} Time: {taskNAvgTime:.3f}  {taskNStd:.3f}")

print(scipy.stats.ttest_ind(task_r['Actual_Total_Time'], task_n['Actual_Total_Time']))

TASK 6: The task is to find the current temperature on the weather application and type it into the keyboard.

When you are ready, click the 'Start Task' button.
responsive task 6 Time: 56729.478  89441.012
normal task 6 Time: 26114.273  13415.439
Ttest_indResult(statistic=1.5877367377732825, pvalue=0.11967290628707869)

In [127]:
#task 7
i = 7
taskDf = sessionsDf.loc[sessionsDf["sessionNumber"] == i]
taskDf
task_r = taskDf.loc[taskDf["isResponsive"] == True]
task_n = taskDf.loc[taskDf["isResponsive"] == False]

print(f"TASK {i}: " + task_r["task"][i])

taskRAvgTime = task_r['Actual_Total_Time'].mean()
taskRStd = task_r['Actual_Total_Time'].std()
print(f"responsive task {str(i)} Time: {taskRAvgTime:.3f}  {taskRStd:.3f}")

taskNAvgTime = task_n['Actual_Total_Time'].mean()
taskNStd = task_n['Actual_Total_Time'].std()
print(f"normal task {str(i)} Time: {taskNAvgTime:.3f}  {taskNStd:.3f}")

print(scipy.stats.ttest_ind(task_r['Actual_Total_Time'], task_n['Actual_Total_Time']))

TASK 7: The task is to find the current location on the weather application and type it into the keyboard. The answer is not case sensitive.

When you are ready, click the 'Start Task' button.
responsive task 7 Time: 59959.000  30794.537
normal task 7 Time: -71899916539.174  344820181238.686
Ttest_indResult(statistic=0.9775251988634808, pvalue=0.3337769726486889)

In [128]:
#task 8
i = 8
taskDf = sessionsDf.loc[sessionsDf["sessionNumber"] == i]
taskDf
task_r = taskDf.loc[taskDf["isResponsive"] == True]
task_n = taskDf.loc[taskDf["isResponsive"] == False]

print(f"TASK {i}: " + task_r["task"][i])

taskRAvgTime = task_r['Actual_Total_Time'].mean()
taskRStd = task_r['Actual_Total_Time'].std()
print(f"responsive task {str(i)} Time: {taskRAvgTime:.3f}  {taskRStd:.3f}")

taskNAvgTime = task_n['Actual_Total_Time'].mean()
taskNStd = task_n['Actual_Total_Time'].std()
print(f"normal task {str(i)} Time: {taskNAvgTime:.3f}  {taskNStd:.3f}")

print(scipy.stats.ttest_ind(task_r['Actual_Total_Time'], task_n['Actual_Total_Time']))

TASK 8: The task is to find the low temperature  on the weather application and type it into the keyboard.

When you are ready, click the 'Start Task' button.
responsive task 8 Time: 49416.727  65716.578
normal task 8 Time: 43658.273  54653.853
Ttest_indResult(statistic=0.31599921130774755, pvalue=0.7535681794417899)

In [129]:
#each task in a loop
for i in range(0,9):
    taskDf = sessionsDf.loc[sessionsDf["sessionNumber"] == i]
    taskDf
    task_r = taskDf.loc[taskDf["isResponsive"] == True]
    task_n = taskDf.loc[taskDf["isResponsive"] == False]

    print(f"TASK {i}: " + task_r["task"][i])

    taskRAvgTime = task_r['Actual_Total_Time'].mean()
    taskRStd = task_r['Actual_Total_Time'].std()
    print(f"responsive task {str(i)} Time: {taskRAvgTime:.3f}  {taskRStd:.3f}")

    taskNAvgTime = task_n['Actual_Total_Time'].mean()
    taskNStd = task_n['Actual_Total_Time'].std()
    print(f"normal task {str(i)} Time: {taskNAvgTime:.3f}  {taskNStd:.3f}")

    print(scipy.stats.ttest_ind(task_r['Actual_Total_Time'], task_n['Actual_Total_Time']))

TASK 0: The task is to click on the 2nd article title.

When you are ready, click the 'Start Task' button.
responsive task 0 Time: 5877.391  2746.772
normal task 0 Time: 8732.864  9499.073
Ttest_indResult(statistic=-1.3831090909158037, pvalue=0.1737714324941954)
TASK 1: The task is to click the 5th article title.

When you are ready, click the 'Start Task' button.
responsive task 1 Time: 5203.478  3872.201
normal task 1 Time: 13870.909  12837.267
Ttest_indResult(statistic=-3.0955747890442433, pvalue=0.003450230223960752)
TASK 2: The task is to click the Author of the 4th article.

When you are ready, click the 'Start Task' button.
responsive task 2 Time: 15490.261  17195.831
normal task 2 Time: 10940.682  8141.135
Ttest_indResult(statistic=1.1257419043396346, pvalue=0.2665188548589997)
TASK 3: The task is to click the Date of the 1st article.

When you are ready, click the 'Start Task' button.
responsive task 3 Time: 8959.870  6267.435
normal task 3 Time: 11594.545  7113.611
Ttest_indResult(statistic=-1.319795354487707, pvalue=0.19388696897042312)
TASK 4: The task is to type the phone number 949-927-4580 on the touchpad then click call.

When you are ready, click the 'Start Task' button.
responsive task 4 Time: 28854.957  13266.773
normal task 4 Time: 24918.045  9271.555
Ttest_indResult(statistic=1.1489093643638997, pvalue=0.2569442461906608)
TASK 5: The task is to type phone number 805-UCSB-EDU on the touchpad then click Call.

When you are ready, click the 'Start Task' button.
responsive task 5 Time: 53541.957  59750.487
normal task 5 Time: 31121.727  22549.226
Ttest_indResult(statistic=1.6504828442201085, pvalue=0.10613076892992643)
TASK 6: The task is to find the current temperature on the weather application and type it into the keyboard.

When you are ready, click the 'Start Task' button.
responsive task 6 Time: 56729.478  89441.012
normal task 6 Time: 26114.273  13415.439
Ttest_indResult(statistic=1.5877367377732825, pvalue=0.11967290628707869)
TASK 7: The task is to find the current location on the weather application and type it into the keyboard. The answer is not case sensitive.

When you are ready, click the 'Start Task' button.
responsive task 7 Time: 59959.000  30794.537
normal task 7 Time: -71899916539.174  344820181238.686
Ttest_indResult(statistic=0.9775251988634808, pvalue=0.3337769726486889)
TASK 8: The task is to find the low temperature  on the weather application and type it into the keyboard.

When you are ready, click the 'Start Task' button.
responsive task 8 Time: 49416.727  65716.578
normal task 8 Time: 43658.273  54653.853
Ttest_indResult(statistic=0.31599921130774755, pvalue=0.7535681794417899)

In [130]:
for i in range(0,9):
    print(f"TASK {str(i)}:")
    taskDf = sessionsDf.loc[sessionsDf["sessionNumber"] == i]
    taskDf
    task_r = taskDf.loc[taskDf["isResponsive"] == True]
    task_n = taskDf.loc[taskDf["isResponsive"] == False]

    taskRAvgTime = task_r['Guesses'].mean()
    taskRStd = task_r['Guesses'].std()
    print(f"responsive task {str(i)} Time: {taskRAvgTime:.3f}  {taskRStd:.3f}")

    taskNAvgTime = task_n['Guesses'].mean()
    taskNStd = task_n['Guesses'].std()
    print(f"normal task {str(i)} Time: {taskNAvgTime:.3f}  {taskNStd:.3f}")

    print(scipy.stats.ttest_ind(task_r['Guesses'], task_n['Guesses']))

TASK 0:
responsive task 0 Time: 1.043  0.209
normal task 0 Time: 1.091  0.294
Ttest_indResult(statistic=-0.626117235046913, pvalue=0.5345477403968492)
TASK 1:
responsive task 1 Time: 1.130  0.458
normal task 1 Time: 1.500  0.859
Ttest_indResult(statistic=-1.8121843206506378, pvalue=0.0769443111920115)
TASK 2:
responsive task 2 Time: 1.739  1.738
normal task 2 Time: 2.000  2.160
Ttest_indResult(statistic=-0.4473318277810719, pvalue=0.6568808306601277)
TASK 3:
responsive task 3 Time: 1.217  0.422
normal task 3 Time: 1.727  1.120
Ttest_indResult(statistic=-2.0375970078942585, pvalue=0.04777340937857098)
TASK 4:
responsive task 4 Time: 1.043  0.209
normal task 4 Time: 1.091  0.294
Ttest_indResult(statistic=-0.626117235046913, pvalue=0.5345477403968492)
TASK 5:
responsive task 5 Time: 1.261  0.752
normal task 5 Time: 1.045  0.213
Ttest_indResult(statistic=1.2944933360701294, pvalue=0.2024037595750517)
TASK 6:
responsive task 6 Time: 8.957  12.719
normal task 6 Time: 4.909  5.398
Ttest_indResult(statistic=1.3780795859350572, pvalue=0.175307966455207)
TASK 7:
responsive task 7 Time: 22.500  8.755
normal task 7 Time: 26.696  20.499
Ttest_indResult(statistic=-0.885524139395186, pvalue=0.3807993904315293)
TASK 8:
responsive task 8 Time: 14.227  25.545
normal task 8 Time: 11.636  13.772
Ttest_indResult(statistic=0.4187421058474365, pvalue=0.6775383389820926)

In [131]:
usersDf = sessionsDf[["userID"]]
usersDf = usersDf.drop_duplicates()
usersDf = usersDf.sort_values("userID")
usersDf

     userID
250      30
210      31
40       32
130      33
120      34
50       35
200      36
260      37
190      38
270      39
418      40
330      41
180      43
170      44
140      45
310      46
428      47
350      48
408      49
80       51
240      53
230      54
280      55
70       56
30       57
90       58
10       59
110      60
0        61
290      63
300      64
220      65
100      67
20       68
60       69
360      70
388      71
438      78
320      79
150      80
398      82
340      83
370      84
380      85
160      86

In [132]:
allTasksDf = usersDf

In [133]:
for i in range(0,9):
    allTasksDf[f"task{i}"] = i

allTasksDf["all_tasks"] = 0
allTasksDf["group"] = "A"
allTasksDf

,userID,task0,task1,task2,task3,task4,task5,task6,task7,task8,all_tasks,group
250,30,0,1,2,3,4,5,6,7,8,0,A
210,31,0,1,2,3,4,5,6,7,8,0,A
40,32,0,1,2,3,4,5,6,7,8,0,A
130,33,0,1,2,3,4,5,6,7,8,0,A
120,34,0,1,2,3,4,5,6,7,8,0,A
50,35,0,1,2,3,4,5,6,7,8,0,A
200,36,0,1,2,3,4,5,6,7,8,0,A
260,37,0,1,2,3,4,5,6,7,8,0,A
190,38,0,1,2,3,4,5,6,7,8,0,A
270,39,0,1,2,3,4,5,6,7,8,0,A
418,40,0,1,2,3,4,5,6,7,8,0,A
330,41,0,1,2,3,4,5,6,7,8,0,A
180,43,0,1,2,3,4,5,6,7,8,0,A
170,44,0,1,2,3,4,5,6,7,8,0,A
140,45,0,1,2,3,4,5,6,7,8,0,A
310,46,0,1,2,3,4,5,6,7,8,0,A
428,47,0,1,2,3,4,5,6,7,8,0,A
350,48,0,1,2,3,4,5,6,7,8,0,A
408,49,0,1,2,3,4,5,6,7,8,0,A
80,51,0,1,2,3,4,5,6,7,8,0,A
240,53,0,1,2,3,4,5,6,7,8,0,A
230,54,0,1,2,3,4,5,6,7,8,0,A
280,55,0,1,2,3,4,5,6,7,8,0,A
70,56,0,1,2,3,4,5,6,7,8,0,A
30,57,0,1,2,3,4,5,6,7,8,0,A
90,58,0,1,2,3,4,5,6,7,8,0,A
10,59,0,1,2,3,4,5,6,7,8,0,A
110,60,0,1,2,3,4,5,6,7,8,0,A
0,61,0,1,2,3,4,5,6,7,8,0,A
290,63,0,1,2,3,4,5,6,7,8,0,A
300,64,0,1,2,3,4,5,6,7,8,0,A
220,65,0,1,2,3,4,5,6,7,8,0,A
100,67,0,1,2,3,4,5,6,7,8,0,A
20,68,0,1,2,3,4,5,6,7,8,0,A
60,69,0,1,2,3,4,5,6,7,8,0,A
360,70,0,1,2,3,4,5,6,7,8,0,A
388,71,0,1,2,3,4,5,6,7,8,0,A
438,78,0,1,2,3,4,5,6,7,8,0,A
320,79,0,1,2,3,4,5,6,7,8,0,A
150,80,0,1,2,3,4,5,6,7,8,0,A
398,82,0,1,2,3,4,5,6,7,8,0,A
340,83,0,1,2,3,4,5,6,7,8,0,A
370,84,0,1,2,3,4,5,6,7,8,0,A
380,85,0,1,2,3,4,5,6,7,8,0,A
160,86,0,1,2,3,4,5,6,7,8,0,A

In [134]:
'''
for i in allTasksDf.index:
    user = allTasksDf["userID"][i]
    userSessions = sessionsDf.loc[sessionsDf["userID"] == user]
    total = 0
    task = userSessions.loc[userSessions["sessionNumber"] == 0]
    allTasksDf.loc[i, "task0"] = task["Actual_Total_Time"].to_numpy()[0]
    total = int(task["Actual_Total_Time"])
    task = userSessions.loc[userSessions["sessionNumber"] == 1]
    allTasksDf.loc[i, "task1"] = task["Actual_Total_Time"].to_numpy()[0]
    total += int(task["Actual_Total_Time"])
    task = userSessions.loc[userSessions["sessionNumber"] == 2]
    allTasksDf.loc[i, "task2"] = task["Actual_Total_Time"].to_numpy()[0]
    total += int(task["Actual_Total_Time"])
    task = userSessions.loc[userSessions["sessionNumber"] == 3]
    allTasksDf.loc[i, "task3"] = task["Actual_Total_Time"].to_numpy()[0]
    total += int(task["Actual_Total_Time"])
    task = userSessions.loc[userSessions["sessionNumber"] == 4]
    allTasksDf.loc[i, "task4"] = task["Actual_Total_Time"].to_numpy()[0]
    total += int(task["Actual_Total_Time"])
    task = userSessions.loc[userSessions["sessionNumber"] == 5]
    allTasksDf.loc[i, "task5"] = task["Actual_Total_Time"].to_numpy()[0]
    total += int(task["Actual_Total_Time"])
    task = userSessions.loc[userSessions["sessionNumber"] == 6]
    allTasksDf.loc[i, "task6"] = task["Actual_Total_Time"].to_numpy()[0]
    total += int(task["Actual_Total_Time"])
    task = userSessions.loc[userSessions["sessionNumber"] == 7]
    allTasksDf.loc[i, "task7"] = task["Actual_Total_Time"].to_numpy()[0]
    total += int(task["Actual_Total_Time"])
    task = userSessions.loc[userSessions["sessionNumber"] == 8]
    allTasksDf.loc[i, "task8"] = task["Actual_Total_Time"].to_numpy()[0]
    total += int(task["Actual_Total_Time"])
    allTasksDf.loc[i, "all_tasks"] = total
    allTasksDf.loc[i, "group"] = user_group_mapping[user]

#allTasksDf = allTasksDf.drop(columns=["task{i}"])

'''

'\nfor i in allTasksDf.index:\n    user = allTasksDf["userID"][i]\n    userSessions = sessionsDf.loc[sessionsDf["userID"] == user]\n    total = 0\n    task = userSessions.loc[userSessions["sessionNumber"] == 0]\n    allTasksDf.loc[i, "task0"] = task["Actual_Total_Time"].to_numpy()[0]\n    total = int(task["Actual_Total_Time"])\n    task = userSessions.loc[userSessions["sessionNumber"] == 1]\n    allTasksDf.loc[i, "task1"] = task["Actual_Total_Time"].to_numpy()[0]\n    total += int(task["Actual_Total_Time"])\n    task = userSessions.loc[userSessions["sessionNumber"] == 2]\n    allTasksDf.loc[i, "task2"] = task["Actual_Total_Time"].to_numpy()[0]\n    total += int(task["Actual_Total_Time"])\n    task = userSessions.loc[userSessions["sessionNumber"] == 3]\n    allTasksDf.loc[i, "task3"] = task["Actual_Total_Time"].to_numpy()[0]\n    total += int(task["Actual_Total_Time"])\n    task = userSessions.loc[userSessions["sessionNumber"] == 4]\n    allTasksDf.loc[i, "task4"] = task["Actual_Total_Time"].to_numpy()[0]\n    total += int(task["Actual_Total_Time"])\n    task = userSessions.loc[userSessions["sessionNumber"] == 5]\n    allTasksDf.loc[i, "task5"] = task["Actual_Total_Time"].to_numpy()[0]\n    total += int(task["Actual_Total_Time"])\n    task = userSessions.loc[userSessions["sessionNumber"] == 6]\n    allTasksDf.loc[i, "task6"] = task["Actual_Total_Time"].to_numpy()[0]\n    total += int(task["Actual_Total_Time"])\n    task = userSessions.loc[userSessions["sessionNumber"] == 7]\n    allTasksDf.loc[i, "task7"] = task["Actual_Total_Time"].to_numpy()[0]\n    total += int(task["Actual_Total_Time"])\n    task = userSessions.loc[userSessions["sessionNumber"] == 8]\n    allTasksDf.loc[i, "task8"] = task["Actual_Total_Time"].to_numpy()[0]\n    total += int(task["Actual_Total_Time"])\n    allTasksDf.loc[i, "all_tasks"] = total\n    allTasksDf.loc[i, "group"] = user_group_mapping[user]\n\n#allTasksDf = allTasksDf.drop(columns=["task{i}"])\n\n'

In [135]:
allTasksDf = allTasksDf.sort_values("all_tasks")
allTasksDf

,userID,task0,task1,task2,task3,task4,task5,task6,task7,task8,all_tasks,group
250,30,0,1,2,3,4,5,6,7,8,0,A
30,57,0,1,2,3,4,5,6,7,8,0,A
90,58,0,1,2,3,4,5,6,7,8,0,A
10,59,0,1,2,3,4,5,6,7,8,0,A
110,60,0,1,2,3,4,5,6,7,8,0,A
0,61,0,1,2,3,4,5,6,7,8,0,A
290,63,0,1,2,3,4,5,6,7,8,0,A
300,64,0,1,2,3,4,5,6,7,8,0,A
220,65,0,1,2,3,4,5,6,7,8,0,A
100,67,0,1,2,3,4,5,6,7,8,0,A
20,68,0,1,2,3,4,5,6,7,8,0,A
60,69,0,1,2,3,4,5,6,7,8,0,A
360,70,0,1,2,3,4,5,6,7,8,0,A
388,71,0,1,2,3,4,5,6,7,8,0,A
438,78,0,1,2,3,4,5,6,7,8,0,A
320,79,0,1,2,3,4,5,6,7,8,0,A
150,80,0,1,2,3,4,5,6,7,8,0,A
398,82,0,1,2,3,4,5,6,7,8,0,A
340,83,0,1,2,3,4,5,6,7,8,0,A
370,84,0,1,2,3,4,5,6,7,8,0,A
70,56,0,1,2,3,4,5,6,7,8,0,A
380,85,0,1,2,3,4,5,6,7,8,0,A
280,55,0,1,2,3,4,5,6,7,8,0,A
240,53,0,1,2,3,4,5,6,7,8,0,A
210,31,0,1,2,3,4,5,6,7,8,0,A
40,32,0,1,2,3,4,5,6,7,8,0,A
130,33,0,1,2,3,4,5,6,7,8,0,A
120,34,0,1,2,3,4,5,6,7,8,0,A
50,35,0,1,2,3,4,5,6,7,8,0,A
200,36,0,1,2,3,4,5,6,7,8,0,A
260,37,0,1,2,3,4,5,6,7,8,0,A
190,38,0,1,2,3,4,5,6,7,8,0,A
270,39,0,1,2,3,4,5,6,7,8,0,A
418,40,0,1,2,3,4,5,6,7,8,0,A
330,41,0,1,2,3,4,5,6,7,8,0,A
180,43,0,1,2,3,4,5,6,7,8,0,A
170,44,0,1,2,3,4,5,6,7,8,0,A
140,45,0,1,2,3,4,5,6,7,8,0,A
310,46,0,1,2,3,4,5,6,7,8,0,A
428,47,0,1,2,3,4,5,6,7,8,0,A
350,48,0,1,2,3,4,5,6,7,8,0,A
408,49,0,1,2,3,4,5,6,7,8,0,A
80,51,0,1,2,3,4,5,6,7,8,0,A
230,54,0,1,2,3,4,5,6,7,8,0,A
160,86,0,1,2,3,4,5,6,7,8,0,A

In [136]:
groupA = allTasksDf.loc[allTasksDf["group"] == "A"]
groupB = allTasksDf.loc[allTasksDf["group"] == "B"]

groupATime = groupA['all_tasks'].mean()
groupAStd = groupA['all_tasks'].std()
print(f"group A Time: {groupATime:.3f}  {groupAStd:.3f}")

groupBTime = groupB['all_tasks'].mean()
groupBStd = groupB['all_tasks'].std()
print(f"group B Time: {groupBTime:.3f}  {groupBStd:.3f}")

print(scipy.stats.ttest_ind(groupB['all_tasks'], groupA['all_tasks']))

group A Time: 0.000  0.000
group B Time: nan  nan
Ttest_indResult(statistic=nan, pvalue=nan)

In [137]:
sessionsDf.loc[(sessionsDf["userID"] == 30) & (sessionsDf["sessionNumber"] == 0)]

,userID,numFrames,task,start_time,end_time,total_time,sessionNumber,isResponsive,frames,Actual_Start_Time,Actual_End_Time,Guesses,Actual_Total_Time
250,30,240,The task is to click on the 2nd article title....,1652721816735,1652721833975,17240,0,False,"[{'userID': 30, 'frameNum': 1, 'unixTime': 165...",1652721816794,1652721833985,1,17191

In [138]:
groupA

,userID,task0,task1,task2,task3,task4,task5,task6,task7,task8,all_tasks,group
250,30,0,1,2,3,4,5,6,7,8,0,A
30,57,0,1,2,3,4,5,6,7,8,0,A
90,58,0,1,2,3,4,5,6,7,8,0,A
10,59,0,1,2,3,4,5,6,7,8,0,A
110,60,0,1,2,3,4,5,6,7,8,0,A
0,61,0,1,2,3,4,5,6,7,8,0,A
290,63,0,1,2,3,4,5,6,7,8,0,A
300,64,0,1,2,3,4,5,6,7,8,0,A
220,65,0,1,2,3,4,5,6,7,8,0,A
100,67,0,1,2,3,4,5,6,7,8,0,A
20,68,0,1,2,3,4,5,6,7,8,0,A
60,69,0,1,2,3,4,5,6,7,8,0,A
360,70,0,1,2,3,4,5,6,7,8,0,A
388,71,0,1,2,3,4,5,6,7,8,0,A
438,78,0,1,2,3,4,5,6,7,8,0,A
320,79,0,1,2,3,4,5,6,7,8,0,A
150,80,0,1,2,3,4,5,6,7,8,0,A
398,82,0,1,2,3,4,5,6,7,8,0,A
340,83,0,1,2,3,4,5,6,7,8,0,A
370,84,0,1,2,3,4,5,6,7,8,0,A
70,56,0,1,2,3,4,5,6,7,8,0,A
380,85,0,1,2,3,4,5,6,7,8,0,A
280,55,0,1,2,3,4,5,6,7,8,0,A
240,53,0,1,2,3,4,5,6,7,8,0,A
210,31,0,1,2,3,4,5,6,7,8,0,A
40,32,0,1,2,3,4,5,6,7,8,0,A
130,33,0,1,2,3,4,5,6,7,8,0,A
120,34,0,1,2,3,4,5,6,7,8,0,A
50,35,0,1,2,3,4,5,6,7,8,0,A
200,36,0,1,2,3,4,5,6,7,8,0,A
260,37,0,1,2,3,4,5,6,7,8,0,A
190,38,0,1,2,3,4,5,6,7,8,0,A
270,39,0,1,2,3,4,5,6,7,8,0,A
418,40,0,1,2,3,4,5,6,7,8,0,A
330,41,0,1,2,3,4,5,6,7,8,0,A
180,43,0,1,2,3,4,5,6,7,8,0,A
170,44,0,1,2,3,4,5,6,7,8,0,A
140,45,0,1,2,3,4,5,6,7,8,0,A
310,46,0,1,2,3,4,5,6,7,8,0,A
428,47,0,1,2,3,4,5,6,7,8,0,A
350,48,0,1,2,3,4,5,6,7,8,0,A
408,49,0,1,2,3,4,5,6,7,8,0,A
80,51,0,1,2,3,4,5,6,7,8,0,A
230,54,0,1,2,3,4,5,6,7,8,0,A
160,86,0,1,2,3,4,5,6,7,8,0,A

In [139]:
surveyDf = pandas.read_csv("PostStudy.csv")
surveyDf = surveyDf.sort_values(by = ["What is your Participant Id?", "Timestamp"])


surveyDf["group"] = "A"

for i in surveyDf.index:
    mask = surveyDf.index == i
    group = user_group_mapping[surveyDf["What is your Participant Id?"][i]]
    surveyDf.loc[mask, "group"] = group

surveyDf.shape[0]

46

In [140]:
#drop 34 1st response
find34 = surveyDf.loc[surveyDf["What is your Participant Id?"] == 34]
indexes = find34.index
indexes = indexes.to_numpy()
minimum = indexes[0]
if (indexes[0] > indexes[1]):
    minimum = indexes[1]

find34 = find34.loc[find34.index == minimum]
find34
surveyDf = surveyDf.drop(find34.index)

In [141]:
groupA = surveyDf.loc[surveyDf["group"] == "A"]
groupA = groupA[groupA.columns[9]]

groupA

0             It would be nice to avoid the scroll bar.
2     I don't have any suggestions, it was an intere...
5        I would make the low temperature more visible.
7                               Nothing I can think of.
38         I think it's a well-put-together experiment.
10     improving keyboard. I found it hard to work with
18    the scrolling bar was challenging and hard to ...
23     let me press enter before going to the next task
32    I think overall it's great. Nothing recommended:)
29                                                  NaN
12                                          no comment
11    It was pretty good, I'm not sure what I would ...
24                                              Nothing
31    I wouldn't change much, mostly I just had an i...
22                         To make it more interesting?
16    I would just prefer if the system had a better...
21    To have the necessary objects (the keyboard) a...
39    To be honest, nothing because this was a great...
44                                                  NaN
40    The changes in size were very slight. In my ex...
41                                              nothing
35                                              nothing
Name: What would you change about the experiment?, dtype: object

In [142]:


for i in range(10,20):
    groupA = surveyDf.loc[surveyDf["group"] == "A"]
    groupB = surveyDf.loc[surveyDf["group"] == "B"]

    groupAresponseDf = groupA[groupA.columns[i]]
    groupBresponseDf = groupB[groupB.columns[i]]

    groupBResponse = groupBresponseDf.mean()
    groupBStd = groupBresponseDf.std()
    print(groupA.columns[i])
    print(f"group B {str(i)}: {groupBResponse:.3f}  {groupBStd:.3f}")

    groupAResponse = groupAresponseDf.mean()
    groupAStd = groupAresponseDf.std()
    print(f"group A {str(i)}: {groupAResponse:.3f}  {groupAStd:.3f}")

    print(scipy.stats.ttest_ind(groupBresponseDf, groupAresponseDf))
    #print(scipy.stats.wilcoxon(groupBresponseDf, groupAresponseDf))
    print(scipy.stats.shapiro(groupBresponseDf))
    print(scipy.stats.shapiro(groupAresponseDf))
    print(scipy.stats.mannwhitneyu(groupBresponseDf, groupAresponseDf))

It was easy to read with the applications.
group B 10: 3.000  1.477
group A 10: 3.364  2.128
Ttest_indResult(statistic=-0.6684432068381251, pvalue=0.5074233321079168)
ShapiroResult(statistic=0.9036360383033752, pvalue=0.030061960220336914)
ShapiroResult(statistic=0.8605861663818359, pvalue=0.005254740826785564)
MannwhitneyuResult(statistic=238.0, pvalue=0.3687093219324382)
It was easy to interact with the applications.
group B 11: 3.000  1.537
group A 11: 3.818  1.893
Ttest_indResult(statistic=-1.5947234422127425, pvalue=0.11809883543259428)
ShapiroResult(statistic=0.9191269874572754, pvalue=0.0638149306178093)
ShapiroResult(statistic=0.9181016087532043, pvalue=0.0694461464881897)
MannwhitneyuResult(statistic=191.0, pvalue=0.07779866671977229)
It was enjoyable to interact with the applications.
group B 12: 2.957  1.331
group A 12: 3.545  1.896
Ttest_indResult(statistic=-1.2106955838063362, pvalue=0.23262479260084742)
ShapiroResult(statistic=0.9339116811752319, pvalue=0.1328575164079666)
ShapiroResult(statistic=0.9173601865768433, pvalue=0.06704028695821762)
MannwhitneyuResult(statistic=209.0, pvalue=0.1573499680507478)
The tasks were easy to understand
group B 13: 1.957  1.430
group A 13: 2.318  2.191
Ttest_indResult(statistic=-0.6587648811078782, pvalue=0.5135590197937706)
ShapiroResult(statistic=0.6585797071456909, pvalue=4.2502297219471075e-06)
ShapiroResult(statistic=0.6156977415084839, pvalue=1.9687620351760415e-06)
MannwhitneyuResult(statistic=250.5, pvalue=0.4801152751516679)
It was easy to complete the tasks.
group B 14: 2.391  1.530
group A 14: 2.864  1.935
Ttest_indResult(statistic=-0.9106750306529038, pvalue=0.3675435684704197)
ShapiroResult(statistic=0.8164136409759521, pvalue=0.0007099941140040755)
ShapiroResult(statistic=0.8350178599357605, pvalue=0.0018655459862202406)
MannwhitneyuResult(statistic=219.0, pvalue=0.21592252370231257)
The content of the applications was easy to see.
group B 15: 2.609  1.672
group A 15: 2.955  1.914
Ttest_indResult(statistic=-0.6463552037780188, pvalue=0.5214844063804583)
ShapiroResult(statistic=0.8524591326713562, pvalue=0.0030155726708471775)
ShapiroResult(statistic=0.8359760046005249, pvalue=0.0019370539812371135)
MannwhitneyuResult(statistic=231.5, pvalue=0.3119858153773165)
Less application content would make the tasks easier.
group B 16: 4.174  1.723
group A 16: 4.409  1.403
Ttest_indResult(statistic=-0.5008125262521701, pvalue=0.6190570635830558)
ShapiroResult(statistic=0.9240016937255859, pvalue=0.08119207620620728)
ShapiroResult(statistic=0.9064018130302429, pvalue=0.0399995893239975)
MannwhitneyuResult(statistic=237.5, pvalue=0.3640406125968739)
I enjoyed the overall experience in terms of enjoyment.
group B 17: 2.783  1.882
group A 17: 3.273  2.004
Ttest_indResult(statistic=-0.8460116363996011, pvalue=0.4022297765631774)
ShapiroResult(statistic=0.7998480796813965, pvalue=0.0003810140478890389)
ShapiroResult(statistic=0.8897750973701477, pvalue=0.018660075962543488)
MannwhitneyuResult(statistic=215.5, pvalue=0.19503276704202677)
The augmented reality (AR) headset was comfortable to wear.
group B 18: 2.348  1.668
group A 18: 2.636  2.128
Ttest_indResult(statistic=-0.5074748780095721, pvalue=0.6144147475659183)
ShapiroResult(statistic=0.7807353734970093, pvalue=0.00019138408242724836)
ShapiroResult(statistic=0.7141730785369873, pvalue=2.980281897180248e-05)
MannwhitneyuResult(statistic=252.5, pvalue=0.5)
I experienced fatigue during the experience.
group B 19: 4.304  2.098
group A 19: 5.136  1.959
Ttest_indResult(statistic=-1.3733587199426214, pvalue=0.1767597371218383)
ShapiroResult(statistic=0.8871450424194336, pvalue=0.013864021748304367)
ShapiroResult(statistic=0.8428913354873657, pvalue=0.00254808715544641)
MannwhitneyuResult(statistic=188.0, pvalue=0.06800309538987234)

In [143]:
i = 6
groupA = surveyDf.loc[surveyDf["group"] == "A"]
groupB = surveyDf.loc[surveyDf["group"] == "B"]

groupAresponseDf = groupA[groupA.columns[i]]
groupBresponseDf = groupB[groupB.columns[i]]

groupBResponse = groupBresponseDf.mean()
groupBStd = groupBresponseDf.std()
print(groupA.columns[i])
print(f"group B {str(i)}: {groupBResponse:.3f}  {groupBStd:.3f}")

groupAResponse = groupAresponseDf.mean()
groupAStd = groupAresponseDf.std()
print(f"group A {str(i)}: {groupAResponse:.3f}  {groupAStd:.3f}")

print(scipy.stats.ttest_ind(groupBresponseDf, groupAresponseDf))
#print(scipy.stats.wilcoxon(groupBresponseDf, groupAresponseDf))
print(scipy.stats.shapiro(groupBresponseDf))
print(scipy.stats.shapiro(groupAresponseDf))
print(scipy.stats.mannwhitneyu(groupBresponseDf, groupAresponseDf))

easy to read: y/n
group B 6: 0.348  0.487
group A 6: 0.227  0.429
Ttest_indResult(statistic=0.8796604130391261, pvalue=0.3839330603231439)
ShapiroResult(statistic=0.6053804159164429, pvalue=1.0341315146433772e-06)
ShapiroResult(statistic=0.5222699642181396, pvalue=2.1416671813767607e-07)
MannwhitneyuResult(statistic=222.5, pvalue=0.19284161448574638)