In [118]:
import glob
import itertools
import json
import os
import pandas
import scipy
from scipy import stats

In [119]:
path = "TutorialData"
dir_list = os.listdir(path)
 
print("Files and directories in '", path, "' :")
 
# prints all files
print(dir_list)

exp_paths = []

session_map = {}
for filename in dir_list:
    if filename.isdigit():
        exp_paths.append(path + "/" + filename + "/Training/Tutorial/")
        #session_map[filename] = user_id
        files = os.listdir(path + "/" + filename + "/Training/Tutorial/")
        name = files[0]
        index = name.find(".")
        user_id = name[index - 13: index]
        session_map[user_id] = int(filename)

print(exp_paths)

user_group_mapping = {}

for i in range(30, 87):
    user_group_mapping[i] = "A"
    if(i % 2 != 0):
        user_group_mapping[i] = "B"

    #special cases
    if(i == 79):
        user_group_mapping[i] = "A"

print(user_group_mapping)

Files and directories in ' TutorialData ' :
['61', '59', '68', '57', '32', '35', '69', '56', '51', '58', '60', '34', '33', '.DS_Store', '45', '86', '44', '43', '38', '36', '31', '65', '54', '53', '30', '37', '39', '55', '63', '64', '46', '79', '41', '83', '48', '70', '84', '71', '82', '49', '40', '47', '78']
['TutorialData/61/Training/Tutorial/', 'TutorialData/59/Training/Tutorial/', 'TutorialData/68/Training/Tutorial/', 'TutorialData/57/Training/Tutorial/', 'TutorialData/32/Training/Tutorial/', 'TutorialData/35/Training/Tutorial/', 'TutorialData/69/Training/Tutorial/', 'TutorialData/56/Training/Tutorial/', 'TutorialData/51/Training/Tutorial/', 'TutorialData/58/Training/Tutorial/', 'TutorialData/60/Training/Tutorial/', 'TutorialData/34/Training/Tutorial/', 'TutorialData/33/Training/Tutorial/', 'TutorialData/45/Training/Tutorial/', 'TutorialData/86/Training/Tutorial/', 'TutorialData/44/Training/Tutorial/', 'TutorialData/43/Training/Tutorial/', 'TutorialData/38/Training/Tutorial/', 'TutorialData/36/Training/Tutorial/', 'TutorialData/31/Training/Tutorial/', 'TutorialData/65/Training/Tutorial/', 'TutorialData/54/Training/Tutorial/', 'TutorialData/53/Training/Tutorial/', 'TutorialData/30/Training/Tutorial/', 'TutorialData/37/Training/Tutorial/', 'TutorialData/39/Training/Tutorial/', 'TutorialData/55/Training/Tutorial/', 'TutorialData/63/Training/Tutorial/', 'TutorialData/64/Training/Tutorial/', 'TutorialData/46/Training/Tutorial/', 'TutorialData/79/Training/Tutorial/', 'TutorialData/41/Training/Tutorial/', 'TutorialData/83/Training/Tutorial/', 'TutorialData/48/Training/Tutorial/', 'TutorialData/70/Training/Tutorial/', 'TutorialData/84/Training/Tutorial/', 'TutorialData/71/Training/Tutorial/', 'TutorialData/82/Training/Tutorial/', 'TutorialData/49/Training/Tutorial/', 'TutorialData/40/Training/Tutorial/', 'TutorialData/47/Training/Tutorial/', 'TutorialData/78/Training/Tutorial/']
{30: 'A', 31: 'B', 32: 'A', 33: 'B', 34: 'A', 35: 'B', 36: 'A', 37: 'B', 38: 'A', 39: 'B', 40: 'A', 41: 'B', 42: 'A', 43: 'B', 44: 'A', 45: 'B', 46: 'A', 47: 'B', 48: 'A', 49: 'B', 50: 'A', 51: 'B', 52: 'A', 53: 'B', 54: 'A', 55: 'B', 56: 'A', 57: 'B', 58: 'A', 59: 'B', 60: 'A', 61: 'B', 62: 'A', 63: 'B', 64: 'A', 65: 'B', 66: 'A', 67: 'B', 68: 'A', 69: 'B', 70: 'A', 71: 'B', 72: 'A', 73: 'B', 74: 'A', 75: 'B', 76: 'A', 77: 'B', 78: 'A', 79: 'A', 80: 'A', 81: 'B', 82: 'A', 83: 'B', 84: 'A', 85: 'B', 86: 'A'}

In [120]:
def parseFileNumber(fileName):
    fragments = fileName.split('_')
    return float(fragments[1])

In [121]:
responsiveData = []
experimentEvents = []

def parseFrame(frames, user_id):
    frames_list = []
    for frame in frames:
        frameData = {
            "userID": float,
            "frameNum": int,
            "unixTime": float,
            "timestamp": float,
            "hPos": {"x":float,"y":float,"z":float},
            "hDir": {"x":float,"y":float,"z":float},
            "hRot": {"i":float,"j":float,"k":float},
            "hAngl": {"x":float,"y":float,"z":float},
            "gazeOrigin": {"x":float,"y":float,"z":float},
            "gazeDirection": {"x":float,"y":float,"z":float},
            "rightHandRay": {"x":float,"y":float,"z":float},
            "leftHandRay": {"x":float,"y":float,"z":float},
            "experimentEvents": [],
            "responsiveData": []
        }
        responsiveEvent = frame["responsiveData"]
        experimentEvent = frame["experimentEvents"]
        frameData["userID"] = user_id
        frameData["frameNum"] = frame["frameNum"]
        frameData["unixTime"] = frame["unixTime"]
        frameData["timestamp"] = frame["timestamp"]
        frameData["hPos"] = frame["hPos"]
        frameData["hDir"] = frame["hDir"]
        frameData["hRot"] = frame["hRot"]
        frameData["hAngl"] = frame["hAngl"]
        frameData["gazeOrigin"] = frame["gazeOrigin"]
        frameData["gazeDirection"] = frame["gazeDirection"]
        frameData["rightHandRay"] = frame["rightHandRay"]
        frameData["leftHandRay"] = frame["leftHandRay"]
        frameData["experimentEvents"] = experimentEvent
        frameData["responsiveData"] = responsiveEvent
        frames_list.append(frameData)
        if responsiveEvent:
            responsiveData.append(responsiveEvent)
        if experimentEvent:
            experimentEvents.append(experimentEvent)
    return frames_list

def parseSession(session, user_id):
    sessionData = {
    "userID": float,
    "numFrames": int,
    "task": str,
    "start_time": float,
    "end_time": float,
    "total_time": float,
    "sessionNumber": int,
    "isResponsive": int,
    "frames": []
    }
    sessionData["userID"] = user_id
    sessionData["numFrames"] = session["numFrames"]
    sessionData["task"] = session["task"]
    sessionData["start_time"] = session["start_time"]
    sessionData["end_time"] = session["end_time"]
    sessionData["total_time"] = session["total_time"]
    sessionData["sessionNumber"] = session["sessionNumber"]
    sessionData["isResponsive"] = session["isResponsive"]
    return sessionData

In [122]:
data = []
frames = []
allsession = []
user_id = 0

for exp in exp_paths:
    experiment_data = {
    "path" : str,
    "sessions": {}
    }
    sessions = {}
    experiment = os.listdir(exp)
    current_path = exp
    experiment_data["path"] = current_path
    experiment.sort(key=parseFileNumber)
    for filename in experiment:
        if filename.endswith(".json"):
            # Prints only text file present in My Folder
            print(filename)
            firstFileFlag = False
            if("Session_0" in filename):
                firstFileFlag = True
            with open(current_path + filename, 'r') as f:
                json_data = json.load(f)
                if(firstFileFlag):
                    user_id = session_map[json_data["obj"]["userID"]]
                    session = parseSession(json_data["obj"]["sessionRecordings"][0], user_id)
                    frame = parseFrame(json_data["obj"]["sessionRecordings"][0]["frames"], user_id)
                    session["frames"] = frame
                    num = session["sessionNumber"]
                    sessions[num] = session
                    frames.append(frame)
                    allsession.append(session)
                else:
                    session = parseSession(json_data, user_id)
                    frame = parseFrame(json_data["frames"], user_id)
                    session["frames"] = frame
                    num = session["sessionNumber"]
                    sessions[num] = session
                    frames.append(frame)
                    allsession.append(session)
    experiment_data["sessions"] = sessions
    data.append(experiment_data)

#print(data)

TutorialSession_0_1653321690425.json
TutorialSession_1_1653321690425.json
TutorialSession_2_1653321690425.json
TutorialSession_3_1653321690425.json
TutorialSession_4_1653321690425.json
TutorialSession_5_1653321690425.json
TutorialSession_6_1653321690425.json
TutorialSession_7_1653321690425.json
TutorialSession_8_1653321690425.json
TutorialSession_0_1652906031540.json
TutorialSession_1_1652906031540.json
TutorialSession_2_1652906031540.json
TutorialSession_3_1652906031540.json
TutorialSession_4_1652906031540.json
TutorialSession_5_1652906031540.json
TutorialSession_6_1652906031540.json
TutorialSession_7_1652906031540.json
TutorialSession_8_1652906031540.json
TutorialSession_0_1653068647666.json
TutorialSession_1_1653068647666.json
TutorialSession_2_1653068647666.json
TutorialSession_3_1653068647666.json
TutorialSession_4_1653068647666.json
TutorialSession_5_1653068647666.json
TutorialSession_6_1653068647666.json
TutorialSession_7_1653068647666.json
TutorialSession_8_1653068647666.json
TutorialSession_0_1653516264955.json
TutorialSession_1_1653516264955.json
TutorialSession_2_1653516264955.json
TutorialSession_3_1653516264955.json
TutorialSession_4_1653516264955.json
TutorialSession_5_1653516264955.json
TutorialSession_6_1653516264955.json
TutorialSession_7_1653516264955.json
TutorialSession_8_1653516264955.json
TutorialSession_0_1652733080510.json
TutorialSession_1_1652733080510.json
TutorialSession_2_1652733080510.json
TutorialSession_3_1652733080510.json
TutorialSession_4_1652733080510.json
TutorialSession_5_1652733080510.json
TutorialSession_6_1652733080510.json
TutorialSession_7_1652733080510.json
TutorialSession_8_1652733080510.json
TutorialSession_0_1652802615596.json
TutorialSession_1_1652802615596.json
TutorialSession_2_1652802615596.json
TutorialSession_3_1652802615596.json
TutorialSession_4_1652802615596.json
TutorialSession_5_1652802615596.json
TutorialSession_6_1652802615596.json
TutorialSession_7_1652802615596.json
TutorialSession_8_1652802615596.json
TutorialSession_0_1653435211394.json
TutorialSession_1_1653435211394.json
TutorialSession_2_1653435211394.json
TutorialSession_3_1653435211394.json
TutorialSession_4_1653435211394.json
TutorialSession_5_1653435211394.json
TutorialSession_6_1653435211394.json
TutorialSession_7_1653435211394.json
TutorialSession_8_1653435211394.json
TutorialSession_0_1652895607588.json
TutorialSession_1_1652895607588.json
TutorialSession_2_1652895607588.json
TutorialSession_3_1652895607588.json
TutorialSession_4_1652895607588.json
TutorialSession_5_1652895607588.json
TutorialSession_6_1652895607588.json
TutorialSession_7_1652895607588.json
TutorialSession_8_1652895607588.json
TutorialSession_0_1653002882854.json
TutorialSession_1_1653002882854.json
TutorialSession_2_1653002882854.json
TutorialSession_3_1653002882854.json
TutorialSession_4_1653002882854.json
TutorialSession_5_1653002882854.json
TutorialSession_6_1653002882854.json
TutorialSession_7_1653002882854.json
TutorialSession_8_1653002882854.json
TutorialSession_0_1652890435239.json
TutorialSession_1_1652890435239.json
TutorialSession_2_1652890435239.json
TutorialSession_3_1652890435239.json
TutorialSession_4_1652890435239.json
TutorialSession_5_1652890435239.json
TutorialSession_6_1652890435239.json
TutorialSession_7_1652890435239.json
TutorialSession_8_1652890435239.json
TutorialSession_0_1653089441330.json
TutorialSession_1_1653089441330.json
TutorialSession_2_1653089441330.json
TutorialSession_3_1653089441330.json
TutorialSession_4_1653089441330.json
TutorialSession_5_1653089441330.json
TutorialSession_6_1653089441330.json
TutorialSession_7_1653089441330.json
TutorialSession_8_1653089441330.json
TutorialSession_0_1652743945854.json
TutorialSession_1_1652743945854.json
TutorialSession_2_1652743945854.json
TutorialSession_3_1652743945854.json
TutorialSession_4_1652743945854.json
TutorialSession_5_1652743945854.json
TutorialSession_6_1652743945854.json
TutorialSession_7_1652743945854.json
TutorialSession_8_1652743945854.json
TutorialSession_0_1652739165915.json
TutorialSession_1_1652739165915.json
TutorialSession_2_1652739165915.json
TutorialSession_3_1652739165915.json
TutorialSession_4_1652739165915.json
TutorialSession_5_1652739165915.json
TutorialSession_6_1652739165915.json
TutorialSession_7_1652739165915.json
TutorialSession_8_1652739165915.json
TutorialSession_0_1653002882854.json
TutorialSession_1_1653002882854.json
TutorialSession_2_1653002882854.json
TutorialSession_3_1653002882854.json
TutorialSession_4_1653002882854.json
TutorialSession_5_1653002882854.json
TutorialSession_6_1653002882854.json
TutorialSession_7_1653002882854.json
TutorialSession_8_1653002882854.json
TutorialSession_0_1653501162272.json
TutorialSession_1_1653501162272.json
TutorialSession_2_1653501162272.json
TutorialSession_3_1653501162272.json
TutorialSession_4_1653501162272.json
TutorialSession_5_1653501162272.json
TutorialSession_6_1653501162272.json
TutorialSession_7_1653501162272.json
TutorialSession_8_1653501162272.json
TutorialSession_0_1652992181929.json
TutorialSession_1_1652992181929.json
TutorialSession_2_1652992181929.json
TutorialSession_3_1652992181929.json
TutorialSession_4_1652992181929.json
TutorialSession_5_1652992181929.json
TutorialSession_6_1652992181929.json
TutorialSession_7_1652992181929.json
TutorialSession_8_1652992181929.json
TutorialSession_0_1652987027396.json
TutorialSession_1_1652987027396.json
TutorialSession_2_1652987027396.json
TutorialSession_3_1652987027396.json
TutorialSession_4_1652987027396.json
TutorialSession_5_1652987027396.json
TutorialSession_6_1652987027396.json
TutorialSession_7_1652987027396.json
TutorialSession_8_1652987027396.json
TutorialSession_0_1653587830730.json
TutorialSession_1_1653587830730.json
TutorialSession_2_1653587830730.json
TutorialSession_3_1653587830730.json
TutorialSession_4_1653587830730.json
TutorialSession_5_1653587830730.json
TutorialSession_6_1653587830730.json
TutorialSession_7_1653587830730.json
TutorialSession_8_1653587830730.json
TutorialSession_0_1652809052160.json
TutorialSession_1_1652809052160.json
TutorialSession_2_1652809052160.json
TutorialSession_3_1652809052160.json
TutorialSession_4_1652809052160.json
TutorialSession_5_1652809052160.json
TutorialSession_6_1652809052160.json
TutorialSession_7_1652809052160.json
TutorialSession_8_1652809052160.json
TutorialSession_0_1652722257015.json
TutorialSession_1_1652722257015.json
TutorialSession_2_1652722257015.json
TutorialSession_3_1652722257015.json
TutorialSession_4_1652722257015.json
TutorialSession_5_1652722257015.json
TutorialSession_6_1652722257015.json
TutorialSession_7_1652722257015.json
TutorialSession_8_1652722257015.json
TutorialSession_0_1653429662789.json
TutorialSession_1_1653429662789.json
TutorialSession_2_1653429662789.json
TutorialSession_3_1653429662789.json
TutorialSession_4_1653429662789.json
TutorialSession_5_1653429662789.json
TutorialSession_6_1653429662789.json
TutorialSession_7_1653429662789.json
TutorialSession_8_1653429662789.json
TutorialSession_0_1653408016673.json
TutorialSession_1_1653408016673.json
TutorialSession_2_1653408016673.json
TutorialSession_3_1653408016673.json
TutorialSession_4_1653408016673.json
TutorialSession_5_1653408016673.json
TutorialSession_6_1653408016673.json
TutorialSession_7_1653408016673.json
TutorialSession_8_1653408016673.json
TutorialSession_0_1653343459427.json
TutorialSession_1_1653343459427.json
TutorialSession_2_1653343459427.json
TutorialSession_3_1653343459427.json
TutorialSession_4_1653343459427.json
TutorialSession_5_1653343459427.json
TutorialSession_6_1653343459427.json
TutorialSession_7_1653343459427.json
TutorialSession_8_1653343459427.json
TutorialSession_0_1652715273202.json
TutorialSession_1_1652715273202.json
TutorialSession_2_1652715273202.json
TutorialSession_3_1652715273202.json
TutorialSession_4_1652715273202.json
TutorialSession_5_1652715273202.json
TutorialSession_6_1652715273202.json
TutorialSession_7_1652715273202.json
TutorialSession_8_1652715273202.json
TutorialSession_0_1652814144600.json
TutorialSession_1_1652814144600.json
TutorialSession_2_1652814144600.json
TutorialSession_3_1652814144600.json
TutorialSession_4_1652814144600.json
TutorialSession_5_1652814144600.json
TutorialSession_6_1652814144600.json
TutorialSession_7_1652814144600.json
TutorialSession_8_1652814144600.json
TutorialSession_0_1652825190419.json
TutorialSession_1_1652825190419.json
TutorialSession_2_1652825190419.json
TutorialSession_3_1652825190419.json
TutorialSession_4_1652825190419.json
TutorialSession_5_1652825190419.json
TutorialSession_6_1652825190419.json
TutorialSession_7_1652825190419.json
TutorialSession_8_1652825190419.json
TutorialSession_0_1653521751337.json
TutorialSession_1_1653521751337.json
TutorialSession_2_1653521751337.json
TutorialSession_3_1653521751337.json
TutorialSession_4_1653521751337.json
TutorialSession_5_1653521751337.json
TutorialSession_6_1653521751337.json
TutorialSession_7_1653521751337.json
TutorialSession_8_1653521751337.json
TutorialSession_0_1653413782634.json
TutorialSession_1_1653413782634.json
TutorialSession_2_1653413782634.json
TutorialSession_3_1653413782634.json
TutorialSession_4_1653413782634.json
TutorialSession_5_1653413782634.json
TutorialSession_6_1653413782634.json
TutorialSession_7_1653413782634.json
TutorialSession_8_1653413782634.json
TutorialSession_0_1653418949222.json
TutorialSession_1_1653418949222.json
TutorialSession_2_1653418949222.json
TutorialSession_3_1653418949222.json
TutorialSession_4_1653418949222.json
TutorialSession_5_1653418949222.json
TutorialSession_6_1653418949222.json
TutorialSession_7_1653418949222.json
TutorialSession_8_1653418949222.json
TutorialSession_0_1653084239184.json
TutorialSession_1_1653084239184.json
TutorialSession_2_1653084239184.json
TutorialSession_3_1653084239184.json
TutorialSession_4_1653084239184.json
TutorialSession_5_1653084239184.json
TutorialSession_6_1653084239184.json
TutorialSession_7_1653084239184.json
TutorialSession_8_1653084239184.json
TutorialSession_0_1653592362359.json
TutorialSession_1_1653592362359.json
TutorialSession_2_1653592362359.json
TutorialSession_3_1653592362359.json
TutorialSession_4_1653592362359.json
TutorialSession_5_1653592362359.json
TutorialSession_6_1653592362359.json
TutorialSession_7_1653592362359.json
TutorialSession_8_1653592362359.json
TutorialSession_0_1652900584545.json
TutorialSession_1_1652900584545.json
TutorialSession_2_1652900584545.json
TutorialSession_3_1652900584545.json
TutorialSession_4_1652900584545.json
TutorialSession_5_1652900584545.json
TutorialSession_6_1652900584545.json
TutorialSession_7_1652900584545.json
TutorialSession_8_1652900584545.json
TutorialSession_0_1653326468597.json
TutorialSession_1_1653326468597.json
TutorialSession_2_1653326468597.json
TutorialSession_3_1653326468597.json
TutorialSession_4_1653326468597.json
TutorialSession_5_1653326468597.json
TutorialSession_6_1653326468597.json
TutorialSession_7_1653326468597.json
TutorialSession_8_1653326468597.json
TutorialSession_0_1653424504323.json
TutorialSession_1_1653424504323.json
TutorialSession_2_1653424504323.json
TutorialSession_3_1653424504323.json
TutorialSession_4_1653424504323.json
TutorialSession_5_1653424504323.json
TutorialSession_6_1653424504323.json
TutorialSession_7_1653424504323.json
TutorialSession_8_1653424504323.json
TutorialSession_0_1652976365230.json
TutorialSession_1_1652976365230.json
TutorialSession_2_1652976365230.json
TutorialSession_3_1652976365230.json
TutorialSession_4_1652976365230.json
TutorialSession_5_1652976365230.json
TutorialSession_6_1652976365230.json
TutorialSession_7_1652976365230.json
TutorialSession_8_1652976365230.json
TutorialSession_0_1653602385347.json
TutorialSession_1_1653602385347.json
TutorialSession_2_1653602385347.json
TutorialSession_3_1653602385347.json
TutorialSession_4_1653602385347.json
TutorialSession_5_1653602385347.json
TutorialSession_6_1653602385347.json
TutorialSession_7_1653602385347.json
TutorialSession_8_1653602385347.json
TutorialSession_0_1653338026155.json
TutorialSession_1_1653338026155.json
TutorialSession_2_1653338026155.json
TutorialSession_3_1653338026155.json
TutorialSession_4_1653338026155.json
TutorialSession_5_1653338026155.json
TutorialSession_6_1653338026155.json
TutorialSession_7_1653338026155.json
TutorialSession_8_1653338026155.json
TutorialSession_0_1653597290893.json
TutorialSession_1_1653597290893.json
TutorialSession_2_1653597290893.json
TutorialSession_3_1653597290893.json
TutorialSession_4_1653597290893.json
TutorialSession_5_1653597290893.json
TutorialSession_6_1653597290893.json
TutorialSession_7_1653597290893.json
TutorialSession_8_1653597290893.json
TutorialSession_0_1652911349770.json
TutorialSession_1_1652911349770.json
TutorialSession_2_1652911349770.json
TutorialSession_3_1652911349770.json
TutorialSession_4_1652911349770.json
TutorialSession_5_1652911349770.json
TutorialSession_6_1652911349770.json
TutorialSession_7_1652911349770.json
TutorialSession_8_1652911349770.json
TutorialSession_0_1652830686569.json
TutorialSession_1_1652830686569.json
TutorialSession_2_1652830686569.json
TutorialSession_3_1652830686569.json
TutorialSession_4_1652830686569.json
TutorialSession_5_1652830686569.json
TutorialSession_6_1652830686569.json
TutorialSession_7_1652830686569.json
TutorialSession_8_1652830686569.json
TutorialSession_0_1653606943127.json
TutorialSession_1_1653606943127.json
TutorialSession_2_1653606943127.json
TutorialSession_3_1653606943127.json
TutorialSession_4_1653606943127.json
TutorialSession_5_1653606943127.json
TutorialSession_6_1653606943127.json
TutorialSession_7_1653606943127.json
TutorialSession_8_1653606943127.json
TutorialSession_0_1653063082178.json
TutorialSession_1_1653063082178.json
TutorialSession_2_1653063082178.json
TutorialSession_3_1653063082178.json
TutorialSession_4_1653063082178.json
TutorialSession_5_1653063082178.json
TutorialSession_6_1653063082178.json
TutorialSession_7_1653063082178.json
TutorialSession_8_1653063082178.json

In [123]:
allsession

sessionsUnpacked = list(itertools.chain(allsession))
sessionsDf = pandas.DataFrame(sessionsUnpacked)
sessionsDf = sessionsDf.sort_values(by='sessionNumber')

sessionsDf = sessionsDf.loc[sessionsDf["sessionNumber"] < 8 ]
sessionsDf.head(1)

,userID,numFrames,task,start_time,end_time,total_time,sessionNumber,isResponsive,frames
0,61,352,Select a hologram or button within arm's reach...,1653321711306,1653321726336,15030,0,False,"[{'userID': 61, 'frameNum': 1, 'unixTime': 165..."

In [124]:
sessionsDf["group"] = sessionsDf["userID"]

for i in sessionsDf.index:
    sessionsDf["group"][i] = user_group_mapping[sessionsDf["userID"][i]]

<ipython-input-124-65844d124438>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sessionsDf["group"][i] = user_group_mapping[sessionsDf["userID"][i]]
/Users/abbywysopal/miniconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [125]:
framesUnpacked = list(itertools.chain(*sessionsDf["frames"]))
framesDf = pandas.DataFrame(framesUnpacked)
print(framesDf.shape)
framesDf["group"] = framesDf["userID"] % 2

for i in framesDf.index:
    framesDf["group"][i] = user_group_mapping[framesDf["userID"][i]]

(70197, 14)

<ipython-input-125-b3ff4c52bcf7>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  framesDf["group"][i] = user_group_mapping[framesDf["userID"][i]]

In [126]:
users = framesDf.loc[framesDf["experimentEvents"].str.len() != 0]
print(users.shape)

experimentUnpacked = list(itertools.chain(*users["experimentEvents"]))
experimentDf = pandas.DataFrame(experimentUnpacked)
experimentDf.head(1)
print(experimentDf.shape)
experimentDf.shape

experimentDf["userID"] = users["userID"]

for i in users.index:
    eventDF = pandas.DataFrame(users["experimentEvents"][i])

    for j in eventDF.index:
        time = eventDF["unixTime"][j]
        userID = users["userID"][i]
        mask = experimentDf["unixTime"] == time
        experimentDf.loc[mask, "userID"] = userID

experimentDf.head(1)

(627, 15)
(1292, 10)

,unixTime,systemTime,isResponsive,eventName,task_number,task_type,object_scale,object_position,correct_answer,guess,userID
0,1653321711236,09-01-51-23,False,start,1,Near Select Example,"{'x': 1.0, 'y': 1.0, 'z': 1.0}","{'x': 0.5910000205039978, 'y': -0.166000008583...",1,,61.0

In [127]:
experimentDf

,unixTime,systemTime,isResponsive,eventName,task_number,task_type,object_scale,object_position,correct_answer,guess,userID
0,1653321711236,09-01-51-23,False,start,1,Near Select Example,"{'x': 1.0, 'y': 1.0, 'z': 1.0}","{'x': 0.5910000205039978, 'y': -0.166000008583...",1,,61.0
1,1652992192159,13-29-52-15,False,start,1,Near Select Example,"{'x': 1.0, 'y': 1.0, 'z': 1.0}","{'x': 0.5910000205039978, 'y': -0.166000008583...",1,,44.0
2,1653501165793,10-52-45-79,False,start,1,Near Select Example,"{'x': 1.0, 'y': 1.0, 'z': 1.0}","{'x': 0.5910000205039978, 'y': -0.166000008583...",1,,86.0
3,1653002894334,16-28-14-33,False,start,1,Near Select Example,"{'x': 1.0, 'y': 1.0, 'z': 1.0}","{'x': 0.5910000205039978, 'y': -0.166000008583...",1,,45.0
4,1652739175706,15-12-55-70,False,start,1,Near Select Example,"{'x': 1.0, 'y': 1.0, 'z': 1.0}","{'x': 0.5910000205039978, 'y': -0.166000008583...",1,,33.0
...,...,...,...,...,...,...,...,...,...,...,...
1287,1652722470709,10-34-30-70,False,end,7,Select Input,"{'x': 1.0, 'y': 1.0, 'z': 1.0}","{'x': 0.0, 'y': 0.0, 'z': 0.75}",7,7,31.0
1288,1652722470789,10-34-30-78,False,start,8,Scroll,"{'x': 1.0, 'y': 1.0, 'z': 1.0}","{'x': 0.0, 'y': 0.0, 'z': 0.75}",8,,31.0
1289,1652809158842,10-39-18-84,False,entered,7,Select Input,"{'x': 1.0, 'y': 1.0, 'z': 1.0}","{'x': 0.0, 'y': 0.0, 'z': 0.75}",7,7,36.0
1290,1652809158842,10-39-18-84,False,end,7,Select Input,"{'x': 1.0, 'y': 1.0, 'z': 1.0}","{'x': 0.0, 'y': 0.0, 'z': 0.75}",7,7,36.0
1291,1652809158862,10-39-18-86,False,start,8,Scroll,"{'x': 1.0, 'y': 1.0, 'z': 1.0}","{'x': 0.0, 'y': 0.0, 'z': 0.75}",8,,36.0

In [128]:
startEvents = experimentDf.loc[experimentDf["eventName"] == "start"]
startEvents.head(3)

,unixTime,systemTime,isResponsive,eventName,task_number,task_type,object_scale,object_position,correct_answer,guess,userID
0,1653321711236,09-01-51-23,False,start,1,Near Select Example,"{'x': 1.0, 'y': 1.0, 'z': 1.0}","{'x': 0.5910000205039978, 'y': -0.166000008583...",1,,61.0
1,1652992192159,13-29-52-15,False,start,1,Near Select Example,"{'x': 1.0, 'y': 1.0, 'z': 1.0}","{'x': 0.5910000205039978, 'y': -0.166000008583...",1,,44.0
2,1653501165793,10-52-45-79,False,start,1,Near Select Example,"{'x': 1.0, 'y': 1.0, 'z': 1.0}","{'x': 0.5910000205039978, 'y': -0.166000008583...",1,,86.0

In [129]:
sessionsDf

,userID,numFrames,task,start_time,end_time,total_time,sessionNumber,isResponsive,frames,group
0,61,352,Select a hologram or button within arm's reach...,1653321711306,1653321726336,15030,0,False,"[{'userID': 61, 'frameNum': 1, 'unixTime': 165...",B
135,44,217,Select a hologram or button within arm's reach...,1652992192229,1652992203978,11749,0,False,"[{'userID': 44, 'frameNum': 1, 'unixTime': 165...",A
126,86,83,Select a hologram or button within arm's reach...,1653501165863,1653501170848,4985,0,False,"[{'userID': 86, 'frameNum': 1, 'unixTime': 165...",A
117,45,253,Select a hologram or button within arm's reach...,1653002894394,1653002908465,14071,0,False,"[{'userID': 45, 'frameNum': 1, 'unixTime': 165...",B
108,33,236,Select a hologram or button within arm's reach...,1652739175795,1652739189896,14101,0,False,"[{'userID': 33, 'frameNum': 1, 'unixTime': 165...",B
...,...,...,...,...,...,...,...,...,...,...
133,86,101,Scroll down by selecting and holding the blue ...,1653501224914,1653501234994,10080,7,False,"[{'userID': 86, 'frameNum': 618, 'unixTime': 1...",A
115,33,244,Scroll down by selecting and holding the blue ...,1652739403439,1652739427960,24521,7,False,"[{'userID': 33, 'frameNum': 2324, 'unixTime': ...",B
304,48,160,Scroll down by selecting and holding the blue ...,1653425001461,1653425033334,31873,7,False,"[{'userID': 48, 'frameNum': 2486, 'unixTime': ...",A
178,31,191,Scroll down by selecting and holding the blue ...,1652722470789,1652722489959,19170,7,False,"[{'userID': 31, 'frameNum': 2078, 'unixTime': ...",B
169,36,103,Scroll down by selecting and holding the blue ...,1652809158862,1652809169152,10290,7,False,"[{'userID': 36, 'frameNum': 1056, 'unixTime': ...",A

In [130]:
sessionsDf["Actual_Start_Time"] = sessionsDf["start_time"]

for i in startEvents.index:
    userID = startEvents["userID"][i]
    task_num = startEvents["task_number"][i]
    mask = (sessionsDf["userID"] == userID) & (sessionsDf["sessionNumber"] == task_num)
    sessionsDf.loc[mask, "Actual_Start_Time"] = startEvents["unixTime"][i]

sessionsDf.head(1)

,userID,numFrames,task,start_time,end_time,total_time,sessionNumber,isResponsive,frames,group,Actual_Start_Time
0,61,352,Select a hologram or button within arm's reach...,1653321711306,1653321726336,15030,0,False,"[{'userID': 61, 'frameNum': 1, 'unixTime': 165...",B,1653321711306

In [131]:
endEvents = experimentDf.loc[experimentDf["eventName"] == "end"]
endEvents.head(1)

,unixTime,systemTime,isResponsive,eventName,task_number,task_type,object_scale,object_position,correct_answer,guess,userID
42,1652733103060,13-31-43-06,False,end,1,Near Select Example,"{'x': 1.0, 'y': 1.0, 'z': 1.0}","{'x': 0.5910000205039978, 'y': -0.166000008583...",1,1,32.0

In [132]:
sessionsDf["Actual_End_Time"] = sessionsDf["end_time"]

for i in endEvents.index:
    userID = endEvents["userID"][i]
    task_num = endEvents["task_number"][i]
    mask = (sessionsDf["userID"] == userID) & (sessionsDf["sessionNumber"] == task_num)
    sessionsDf.loc[mask, "Actual_End_Time"] = endEvents["unixTime"][i]

sessionsDf.head(1)

,userID,numFrames,task,start_time,end_time,total_time,sessionNumber,isResponsive,frames,group,Actual_Start_Time,Actual_End_Time
0,61,352,Select a hologram or button within arm's reach...,1653321711306,1653321726336,15030,0,False,"[{'userID': 61, 'frameNum': 1, 'unixTime': 165...",B,1653321711306,1653321726336

In [133]:
end_time_diff = sessionsDf["end_time"].to_numpy() - sessionsDf["Actual_End_Time"].to_numpy()
end_time_diff

array([     0,      0,      0,      0,      0,      0,      0,      0,
            0,      0,      0,      0,      0,      0,      0,      0,
            0,      0,      0,      0,      0,      0,      0,      0,
            0,      0,      0,      0,      0,      0,      0,      0,
            0,      0,      0,      0,      0,      0,      0,      0,
            0,      0,  17000,  22610,  16810,  63481,  16570,  50350,
        51471,  44240,  90209,  15830,  35550,  11970, 303706,  70331,
        41920,  61631,  41920,  21780,  26467,   8650,   4645,  29711,
        95533,  24400,  25192,   9081,  38789,  42801,  57171,  19780,
        11150,  17031,  17619,  17811, 107571,  17280,  12070,  26480,
        36041,  45060,  75011,  24900,  13970,  11300,  11060,  18460,
         6909,  54391,  16901,  12971,  10060,   7871,  10560,   2460,
         4650,   1660,  12610,  11584,  41091,  13480,  12580,  11771,
        11160,  13761,   6580,  11430,  11645,   6240,   5870,   6550,
         7437,   4460,  12060,  13291,  11760,  10275,  15350,  13391,
         4470,  12971,  12791,  21952,  14420,   9870,   6040,  93981,
         7175,   5126,  18620,   4770,   4210,   5320,   4990,   6879,
         9260,   3900,   5610,   7810,   4659,   9900,  25671,   4381,
        12771,   3305,   6040,   2889,   7091,   4819,   6929,   7120,
        11370,   7850,   8900,   4870,   5441,  57491,  23300,   6346,
         6929,   6630,   6790,  16856,   3880,   4011,   3940,   4579,
        12801,   7050,  14800,  53351,   4590,   9790,  11520,   4090,
         4201,   4510,   4581,   6170,   4740,   6000,  12327,   7865,
         7170,   7361,  12335,   5484,   6779,   5160, 185963,   5780,
         5099,  12801,   7450,  10420,   7720,   5231,  22770,  25452,
         8370,   6570,   5430,  12720,   7281,   5264,   5751,   9090,
        16700,   4430,   4799,   5350,  33380,   6041,   7731,   3101,
        10570,   6350,   8352,  14991,  13030,   3012,  10490,   5561,
        22940,   5220,   4321,   3780,   4239,   6050,  22940,  16450,
         5900,   5891,  94932,   5840,   4970,   7700,  38061,   3849,
         5759,   7110,   5031,   5976,   6540,   4320,  20700,   6730,
        18661,   5550,   5210,   5270,  53981,  26410,  34581,  12910,
        79982,  15180,  21951,  21349,  56750,  72361,  23297,  18061,
        50931,  20891,  37690,  59926,  19500,  28431,  94425,  17720,
        15171,  48432,  23351,  61812,  45613,  31341,  23351,  16080,
        30160,  24291,  20749,  15351,  27410,  31920,  30641,  20900,
        15301,  19470,  14831,  19741,  24330,  15620,  17870,  13090,
        39973,  28720,  10900,  24920,  15690,  37842,  11381,  12380,
         6883,  17711,  14660,  10290, 170943,  12881, 170943,  11560,
        14609,  16970,  11611,  14730,  48521,  11450,  20390,  12050,
        22271,  19140,  10600,  20710,  21720,  11210,  26210,  35125,
        13587,  20300,  14371,  10090,  24590,  31921,  19250,  10310])

In [134]:
start_time_diff = sessionsDf["start_time"].to_numpy() - sessionsDf["Actual_Start_Time"].to_numpy()
start_time_diff

array([     0,      0,      0,      0,      0,      0,      0,      0,
            0,      0,      0,      0,      0,      0,      0,      0,
            0,      0,      0,      0,      0,      0,      0,      0,
            0,      0,      0,      0,      0,      0,      0,      0,
            0,      0,      0,      0,      0,      0,      0,      0,
            0,      0,  11020,  14041,   7141,   6780,  14510,  15578,
         9491,    180,  97463,   6351,  14212,  22190,  12550,  16180,
        14231,  14130,  14231,  15630,   9589,   8761,   5135,  19043,
        26193,  10250,  11910,  14520,  38821,  14290,  25521,   7121,
        15079,   8651,  35970, 146472,  13401,   9070,  15210,  47886,
        13970,   7588,  16510,  11880,  42811,  70381,  16990,  61671,
       303976,  17580,  24910,  41930,  21781,  29701,  24400,   8640,
        11140,   4651,  57201,  95556,  26402,   9071,  17031,  38791,
        25211,  12050,  51521,  36066,  50155,  11940,  16820,  19790,
        90215,  17285,  75051,  15830,  63521,  26475,  17660, 107635,
        35561,  41930,  22600,  44280,  45071,  16540,  16891,  11605,
        13298,  10259,  13480,   5860,  12000,   6240,  11395,   7850,
        54431,  13760,  10050,   6618,  21913,  15341,  18410,   9871,
        11241,   2450,   4440,   1659,  14390,  13291,  12951,   4435,
         7431,   6520,  11711,   6540,  12791,  13950,  41101,  10550,
        12951,   4640,  12560,  11525,  11130,  11060,  12581,  11730,
         6920,   3891,   6790,   4201,   4870,   6040,   3930,   3881,
         5321,   4009,   7811,   8890,   4991,   4648,  11357,   3310,
        94072,   4811,   7171,   5126,   7136,   6040,  16870,   7850,
         5430,   6920,   5600,   6640,   6880,   4580,   4370,   2899,
         9220,  25700,  23290,  12771,   7100,   6336,  18631,   9899,
        57531,   4770,   7284,   5150,   7050,   8361,   9091,  10411,
         7361,   4520,   7730,   4741,   4579,   6769,  14811,  11530,
        12800,   5780,   7880,   4089,  25473,   5739,  12800,   7450,
        22800,   5476, 186060,   6540,   4430,   9790,  53390,   4209,
         5230,  12330,   7090,  12329,   6170,   4600,  16660,   6000,
         5264,   5100,  12710,   5410,  94894,   7110,  10490,   4970,
         5271,   4310,   6539,   8350,   5895,   5841,   3099,   4319,
        38057,  16464,   4790,   6051,   3001,   5210,   5220,   3780,
         4221,  13041,  22960,  20705,   5974,   5550,  22960,   6361,
        18680,   5880,   7730,   3840,  10568,   5351,  33400,   5059,
         5759,   5560,   7701,   6731,   6040,  14999,  27431,  30651,
        45622,  21968,  30161,  19525,  24310,  56806,  37725,  80106,
        23311,  34600,  15311,  16069,  23361,  31949,  23361,  31361,
        48461,  24350,  20770,  21360,  15626,  14837,  20871,  15361,
        26441,  19750,  19470,  18072,  28461,  12920,  50935,  59980,
        94516,  15200,  17740,  15170,  61856,  53967,  72431,  20887])

In [135]:
sessionsDf["Actual_Total_Time"] = sessionsDf["Actual_End_Time"].to_numpy() - sessionsDf["Actual_Start_Time"].to_numpy()
sessionsDf.head(1)

,userID,numFrames,task,start_time,end_time,total_time,sessionNumber,isResponsive,frames,group,Actual_Start_Time,Actual_End_Time,Actual_Total_Time
0,61,352,Select a hologram or button within arm's reach...,1653321711306,1653321726336,15030,0,False,"[{'userID': 61, 'frameNum': 1, 'unixTime': 165...",B,1653321711306,1653321726336,15030

In [136]:
total_time_diff = sessionsDf["total_time"].to_numpy() - sessionsDf["Actual_Total_Time"].to_numpy()
total_time_diff

array([      0,       0,       0,       0,       0,       0,       0,
             0,       0,       0,       0,       0,       0,       0,
             0,       0,       0,       0,       0,       0,       0,
             0,       0,       0,       0,       0,       0,       0,
             0,       0,       0,       0,       0,       0,       0,
             0,       0,       0,       0,       0,       0,       0,
          5980,    8569,    9669,   56701,    2060,   34772,   41980,
         44060,   -7254,    9479,   21338,  -10220,  291156,   54151,
         27689,   47501,   27689,    6150,   16878,    -111,    -490,
         10668,   69340,   14150,   13282,   -5439,     -32,   28511,
         31650,   12659,   -3929,    8380,  -18351, -128661,   94170,
          8210,   -3140,  -21406,   22071,   37472,   58501,   13020,
        -28841,  -59081,   -5930,  -43211, -297067,   36811,   -8009,
        -28959,  -11721,  -21830,  -13840,   -6180,   -6490,   -2991,
        -44591,  -83972,   14689,    4409,   -4451,  -27020,  -14051,
          1711,  -44941,  -24636,  -38510,   -5700,  -10950,  -13240,
        -82778,  -12825,  -62991,   -2539,  -51761,  -16200,   -2310,
        -94244,  -31091,  -28959,   -9809,  -22328,  -30651,   -6670,
        -10851,   82376,   -6123,   -5133,    5140,   -1090,   -7790,
          -920,   -6405,    -971,  -45171,   -9860,   -4440,    1192,
        -17254,   -5441,    7261,   -5490,    1530,     855,    1600,
          1230,   -7299,   -8472,   -6022,    2685,    3939,    1330,
         -2811,   -1670,   -7350,   43541,  -17801,   -4204,   -6022,
          1990,   -5770,    5331,   -7250,   -7049,   -8641,   -7151,
          5881,    3159,    8010,   49150,    -280,    3750,    7590,
           209,   -1120,     501,   -3230,   -2720,    -251,    1352,
           970,    4555,  -86902,    2550,    5164,     358,    -357,
          -880,  169093,   -2070,    -331,    5881,    1850,    3780,
           840,     651,   18400,   22553,    -850,  -19130,  -17860,
           -51,     181,   -1072,  -12880,    -809,  -40831,    -340,
         -2485,     200,   26330,   -2320,   -1360,   -7310,    3209,
          1830,     622,   10250,    8451,   -3757,   -4321,   -5969,
         10140,    -560,   -3559,    -309,  -21234,     311,   10140,
          9000,  -16900,     415,  -91128,    -700,     540,   -2090,
        -15329,    -360,     529,   -5220,   -2059,   -6353,     370,
          -280,    4040,     730,   13397,     450,   -7500,    -140,
        -40913,   19300,   24091,    7940,   74711,   10870,   15412,
         12999,   50855,   66520,   20198,   13742,   12874,    4427,
         32900,   53875,   16499,   23221,   89205,   13940,   10950,
         35391,     391,   41107,   39639,   25791,     391,    9719,
         11480,   18411,   13019,   11511,   16842,   26569,   -2759,
         15841,    9542,   13910,    7130,   13010,   18290,     621,
         -9561,  -17561,   -5649,    6752,  -19261,    5395,   -8620,
        -18964,  -26344,  -67726,  -16428,  -16889,    -651,   -5779,
        147582,  -19068,  147582,  -19801,  -33852,   -7380,   -9159,
         -6630,   32895,   -3387,    -481,   -3311,   -4170,    -610,
         -8870,    2638,   -6741,   -1710,  -24725,  -24855,  -80929,
          5100,   -3369,   -5080,  -37266,  -22046,  -53181,  -10577])

In [137]:
#task 0
i = 0
taskDf = sessionsDf.loc[sessionsDf["sessionNumber"] == i]
taskDf
task_r = taskDf.loc[taskDf["group"] == 1]
task_n = taskDf.loc[taskDf["group"] == 0]

taskRAvgTime = task_r['total_time'].mean()
taskRStd = task_r['total_time'].std()
print(f"responsive task {str(i)} Time: {taskRAvgTime:.3f} ± {taskRStd:.3f}")

taskNAvgTime = task_n['total_time'].mean()
taskNStd = task_n['total_time'].std()
print(f"normal task {str(i)} Time: {taskNAvgTime:.3f} ± {taskNStd:.3f}")

print(scipy.stats.ttest_ind(task_r['total_time'], task_n['total_time']))

responsive task 0 Time: nan ± nan
normal task 0 Time: nan ± nan
Ttest_indResult(statistic=nan, pvalue=nan)

In [138]:
#Task 1
i = 1
taskDf = sessionsDf.loc[sessionsDf["sessionNumber"] == i]
taskDf
task_r = taskDf.loc[taskDf["group"] == 1]
task_n = taskDf.loc[taskDf["group"] == 0]

taskRAvgTime = task_r['Actual_Total_Time'].mean()
taskRStd = task_r['Actual_Total_Time'].std()
print(f"responsive task {str(i)} Time: {taskRAvgTime:.3f} ± {taskRStd:.3f}")

taskNAvgTime = task_n['Actual_Total_Time'].mean()
taskNStd = task_n['Actual_Total_Time'].std()
print(f"normal task {str(i)} Time: {taskNAvgTime:.3f} ± {taskNStd:.3f}")

print(scipy.stats.ttest_ind(task_r['Actual_Total_Time'], task_n['Actual_Total_Time']))

responsive task 1 Time: nan ± nan
normal task 1 Time: nan ± nan
Ttest_indResult(statistic=nan, pvalue=nan)

In [139]:
#Task 2
i = 2
taskDf = sessionsDf.loc[sessionsDf["sessionNumber"] == i]
taskDf
task_r = taskDf.loc[taskDf["group"] == 1]
task_n = taskDf.loc[taskDf["group"] == 0]

taskRAvgTime = task_r['Actual_Total_Time'].mean()
taskRStd = task_r['Actual_Total_Time'].std()
print(f"responsive task {str(i)} Time: {taskRAvgTime:.3f} ± {taskRStd:.3f}")

taskNAvgTime = task_n['Actual_Total_Time'].mean()
taskNStd = task_n['Actual_Total_Time'].std()
print(f"normal task {str(i)} Time: {taskNAvgTime:.3f} ± {taskNStd:.3f}")

print(scipy.stats.ttest_ind(task_r['Actual_Total_Time'], task_n['Actual_Total_Time']))

responsive task 2 Time: nan ± nan
normal task 2 Time: nan ± nan
Ttest_indResult(statistic=nan, pvalue=nan)

In [140]:
#task 3
i = 3
taskDf = sessionsDf.loc[sessionsDf["sessionNumber"] == i]
taskDf
task_r = taskDf.loc[taskDf["group"] == 1]
task_n = taskDf.loc[taskDf["group"] == 0]

taskRAvgTime = task_r['Actual_Total_Time'].mean()
taskRStd = task_r['Actual_Total_Time'].std()
print(f"responsive task {str(i)} Time: {taskRAvgTime:.3f} ± {taskRStd:.3f}")

taskNAvgTime = task_n['Actual_Total_Time'].mean()
taskNStd = task_n['Actual_Total_Time'].std()
print(f"normal task {str(i)} Time: {taskNAvgTime:.3f} ± {taskNStd:.3f}")

print(scipy.stats.ttest_ind(task_r['Actual_Total_Time'], task_n['Actual_Total_Time']))

responsive task 3 Time: nan ± nan
normal task 3 Time: nan ± nan
Ttest_indResult(statistic=nan, pvalue=nan)

In [141]:
#task 4
i = 4
taskDf = sessionsDf.loc[sessionsDf["sessionNumber"] == i]
taskDf
task_r = taskDf.loc[taskDf["group"] == 1]
task_n = taskDf.loc[taskDf["group"] == 0]

taskRAvgTime = task_r['Actual_Total_Time'].mean()
taskRStd = task_r['Actual_Total_Time'].std()
print(f"responsive task {str(i)} Time: {taskRAvgTime:.3f} ± {taskRStd:.3f}")

taskNAvgTime = task_n['Actual_Total_Time'].mean()
taskNStd = task_n['Actual_Total_Time'].std()
print(f"normal task {str(i)} Time: {taskNAvgTime:.3f} ± {taskNStd:.3f}")

print(scipy.stats.ttest_ind(task_r['Actual_Total_Time'], task_n['Actual_Total_Time']))

responsive task 4 Time: nan ± nan
normal task 4 Time: nan ± nan
Ttest_indResult(statistic=nan, pvalue=nan)

In [142]:
#task 5
i = 5
taskDf = sessionsDf.loc[sessionsDf["sessionNumber"] == i]
taskDf
task_r = taskDf.loc[taskDf["group"] == 1]
task_n = taskDf.loc[taskDf["group"] == 0]

taskRAvgTime = task_r['Actual_Total_Time'].mean()
taskRStd = task_r['Actual_Total_Time'].std()
print(f"responsive task {str(i)} Time: {taskRAvgTime:.3f} ± {taskRStd:.3f}")

taskNAvgTime = task_n['Actual_Total_Time'].mean()
taskNStd = task_n['Actual_Total_Time'].std()
print(f"normal task {str(i)} Time: {taskNAvgTime:.3f} ± {taskNStd:.3f}")

print(scipy.stats.ttest_ind(task_r['Actual_Total_Time'], task_n['Actual_Total_Time']))

responsive task 5 Time: nan ± nan
normal task 5 Time: nan ± nan
Ttest_indResult(statistic=nan, pvalue=nan)

In [143]:
#task 6
i = 6
taskDf = sessionsDf.loc[sessionsDf["sessionNumber"] == i]
taskDf
task_r = taskDf.loc[taskDf["group"] == 1]
task_n = taskDf.loc[taskDf["group"] == 0]

taskRAvgTime = task_r['Actual_Total_Time'].mean()
taskRStd = task_r['Actual_Total_Time'].std()
print(f"responsive task {str(i)} Time: {taskRAvgTime:.3f} ± {taskRStd:.3f}")

taskNAvgTime = task_n['Actual_Total_Time'].mean()
taskNStd = task_n['Actual_Total_Time'].std()
print(f"normal task {str(i)} Time: {taskNAvgTime:.3f} ± {taskNStd:.3f}")

print(scipy.stats.ttest_ind(task_r['Actual_Total_Time'], task_n['Actual_Total_Time']))

responsive task 6 Time: nan ± nan
normal task 6 Time: nan ± nan
Ttest_indResult(statistic=nan, pvalue=nan)

In [144]:
#task 7
i = 7
taskDf = sessionsDf.loc[sessionsDf["sessionNumber"] == i]
taskDf
task_r = taskDf.loc[taskDf["group"] == 1]
task_n = taskDf.loc[taskDf["group"] == 0]

taskRAvgTime = task_r['Actual_Total_Time'].mean()
taskRStd = task_r['Actual_Total_Time'].std()
print(f"responsive task {str(i)} Time: {taskRAvgTime:.3f} ± {taskRStd:.3f}")

taskNAvgTime = task_n['Actual_Total_Time'].mean()
taskNStd = task_n['Actual_Total_Time'].std()
print(f"normal task {str(i)} Time: {taskNAvgTime:.3f} ± {taskNStd:.3f}")

print(scipy.stats.ttest_ind(task_r['Actual_Total_Time'], task_n['Actual_Total_Time']))

responsive task 7 Time: nan ± nan
normal task 7 Time: nan ± nan
Ttest_indResult(statistic=nan, pvalue=nan)

In [153]:
#each task in a loop
for i in range(0,8):
    print(f"TASK {str(i)}:")
    taskDf = sessionsDf.loc[sessionsDf["sessionNumber"] == i]
    taskDf
    task_r = taskDf.loc[taskDf["group"] == "B"]
    task_n = taskDf.loc[taskDf["group"] == "A"]

    taskRAvgTime = task_r['total_time'].mean()
    taskRStd = task_r['total_time'].std()
    print(f"responsive task {str(i)} Time: {taskRAvgTime:.3f} ± {taskRStd:.3f}")

    taskNAvgTime = task_n['total_time'].mean()
    taskNStd = task_n['total_time'].std()
    print(f"normal task {str(i)} Time: {taskNAvgTime:.3f} ± {taskNStd:.3f}")

    print(scipy.stats.ttest_ind(task_r['total_time'], task_n['total_time']))

TASK 0:
responsive task 0 Time: 21743.143 ± 30079.995
normal task 0 Time: 17809.333 ± 20031.060
Ttest_indResult(statistic=0.4988192012398474, pvalue=0.6206389902049052)
TASK 1:
responsive task 1 Time: 43208.095 ± 62203.370
normal task 1 Time: 40736.429 ± 29918.610
Ttest_indResult(statistic=0.1640953365366234, pvalue=0.8704824774877853)
TASK 2:
responsive task 2 Time: 13810.429 ± 12206.047
normal task 2 Time: 11054.905 ± 4182.853
Ttest_indResult(statistic=0.9786508616835858, pvalue=0.3336346853476828)
TASK 3:
responsive task 3 Time: 10720.524 ± 12176.192
normal task 3 Time: 11077.619 ± 19426.227
Ttest_indResult(statistic=-0.07137569573895082, pvalue=0.9434544368307389)
TASK 4:
responsive task 4 Time: 8840.762 ± 4631.565
normal task 4 Time: 18885.810 ± 39822.608
Ttest_indResult(statistic=-1.1481915009448411, pvalue=0.2577100207241299)
TASK 5:
responsive task 5 Time: 10803.952 ± 8337.546
normal task 5 Time: 12148.571 ± 20345.555
Ttest_indResult(statistic=-0.2802401139779609, pvalue=0.780737562238545)
TASK 6:
responsive task 6 Time: 34489.667 ± 23328.857
normal task 6 Time: 29391.429 ± 14919.764
Ttest_indResult(statistic=0.843682079361676, pvalue=0.4038644521735595)
TASK 7:
responsive task 7 Time: 31192.095 ± 47211.608
normal task 7 Time: 20656.714 ± 9513.093
Ttest_indResult(statistic=1.0024640402460299, pvalue=0.3221455629503865)

In [146]:
usersDf = sessionsDf[["userID"]]
usersDf = usersDf.drop_duplicates()
usersDf = usersDf.sort_values("userID")
usersDf

     userID
207      30
171      31
36       32
108      33
99       34
45       35
162      36
216      37
153      38
225      39
351      40
279      41
144      43
135      44
117      45
261      46
360      47
297      48
342      49
198      53
189      54
234      55
63       56
27       57
81       58
9        59
90       60
0        61
243      63
252      64
180      65
18       68
54       69
306      70
324      71
369      78
270      79
333      82
288      83
315      84
126      86

In [155]:
allTasksDf = usersDf

In [156]:
for i in range(0,8):
    allTasksDf[f"task{i}"] = i

allTasksDf["all_tasks"] = 0
allTasksDf["group"] = allTasksDf["userID"] % 2
allTasksDf

,userID,task0,task1,task2,task3,task4,task5,task6,task7,all_tasks,group
207,30,0,1,2,3,4,5,6,7,0,0
171,31,0,1,2,3,4,5,6,7,0,1
36,32,0,1,2,3,4,5,6,7,0,0
108,33,0,1,2,3,4,5,6,7,0,1
99,34,0,1,2,3,4,5,6,7,0,0
45,35,0,1,2,3,4,5,6,7,0,1
162,36,0,1,2,3,4,5,6,7,0,0
216,37,0,1,2,3,4,5,6,7,0,1
153,38,0,1,2,3,4,5,6,7,0,0
225,39,0,1,2,3,4,5,6,7,0,1
351,40,0,1,2,3,4,5,6,7,0,0
279,41,0,1,2,3,4,5,6,7,0,1
144,43,0,1,2,3,4,5,6,7,0,1
135,44,0,1,2,3,4,5,6,7,0,0
117,45,0,1,2,3,4,5,6,7,0,1
261,46,0,1,2,3,4,5,6,7,0,0
360,47,0,1,2,3,4,5,6,7,0,1
297,48,0,1,2,3,4,5,6,7,0,0
342,49,0,1,2,3,4,5,6,7,0,1
198,53,0,1,2,3,4,5,6,7,0,1
189,54,0,1,2,3,4,5,6,7,0,0
234,55,0,1,2,3,4,5,6,7,0,1
63,56,0,1,2,3,4,5,6,7,0,0
27,57,0,1,2,3,4,5,6,7,0,1
81,58,0,1,2,3,4,5,6,7,0,0
9,59,0,1,2,3,4,5,6,7,0,1
90,60,0,1,2,3,4,5,6,7,0,0
0,61,0,1,2,3,4,5,6,7,0,1
243,63,0,1,2,3,4,5,6,7,0,1
252,64,0,1,2,3,4,5,6,7,0,0
180,65,0,1,2,3,4,5,6,7,0,1
18,68,0,1,2,3,4,5,6,7,0,0
54,69,0,1,2,3,4,5,6,7,0,1
306,70,0,1,2,3,4,5,6,7,0,0
324,71,0,1,2,3,4,5,6,7,0,1
369,78,0,1,2,3,4,5,6,7,0,0
270,79,0,1,2,3,4,5,6,7,0,1
333,82,0,1,2,3,4,5,6,7,0,0
288,83,0,1,2,3,4,5,6,7,0,1
315,84,0,1,2,3,4,5,6,7,0,0
126,86,0,1,2,3,4,5,6,7,0,0

In [157]:
for i in allTasksDf.index:
    user = allTasksDf["userID"][i]
    userSessions = sessionsDf.loc[sessionsDf["userID"] == user]
    total = 0
    task = userSessions.loc[userSessions["sessionNumber"] == 0]
    allTasksDf.loc[i, "task0"] = task["total_time"].to_numpy()[0]
    total = int(task["total_time"].to_numpy()[0])
    task = userSessions.loc[userSessions["sessionNumber"] == 1]
    allTasksDf.loc[i, "task1"] = task["total_time"].to_numpy()[0]
    total += int(task["total_time"].to_numpy()[0])
    task = userSessions.loc[userSessions["sessionNumber"] == 2]
    allTasksDf.loc[i, "task2"] = task["total_time"].to_numpy()[0]
    total += int(task["total_time"].to_numpy()[0])
    task = userSessions.loc[userSessions["sessionNumber"] == 3]
    allTasksDf.loc[i, "task3"] = task["total_time"].to_numpy()[0]
    total += int(task["total_time"].to_numpy()[0])
    task = userSessions.loc[userSessions["sessionNumber"] == 4]
    allTasksDf.loc[i, "task4"] = task["total_time"].to_numpy()[0]
    total += int(task["total_time"].to_numpy()[0])
    task = userSessions.loc[userSessions["sessionNumber"] == 5]
    allTasksDf.loc[i, "task5"] = task["total_time"].to_numpy()[0]
    total += int(task["total_time"].to_numpy()[0])
    task = userSessions.loc[userSessions["sessionNumber"] == 6]
    allTasksDf.loc[i, "task6"] = task["total_time"].to_numpy()[0]
    total += int(task["total_time"].to_numpy()[0])
    task = userSessions.loc[userSessions["sessionNumber"] == 7]
    allTasksDf.loc[i, "task7"] = task["total_time"].to_numpy()[0]
    total += int(task["total_time"].to_numpy()[0])
    allTasksDf.loc[i, "all_tasks"] = total
    if(task["isResponsive"].to_numpy()[0] == True):
        allTasksDf.loc[i, "group"] = "B"

#allTasksDf = allTasksDf.drop(columns=["task{i}"])

In [158]:
allTasksDf = allTasksDf.sort_values("all_tasks")
allTasksDf

,userID,task0,task1,task2,task3,task4,task5,task6,task7,all_tasks,group
279,41,6960,16720,5840,4760,4420,4960,12900,11190,67750,1
126,86,4985,4565,1649,2879,25442,4210,15160,10080,68970,0
288,83,8591,8560,2450,3305,7860,4301,15171,20280,70518,1
36,32,10835,16900,11040,3991,4500,6340,16059,10280,79945,0
198,53,22000,11860,6230,5310,4190,3830,15341,12030,80791,1
45,35,14880,11050,4630,6620,10400,3090,23288,6860,80818,1
90,60,6921,19690,6520,4850,4580,4300,18051,20689,85601,0
369,78,8460,16940,12550,3920,11510,5541,19451,10581,88953,0
135,44,11749,25101,11120,3870,4079,3770,17710,14341,91740,0
63,56,8890,17180,4425,7115,6758,3001,19500,24895,91764,0
27,57,6185,15740,13271,4799,7350,10559,27401,17840,103145,1
216,37,14036,35449,4430,6030,9780,7690,14820,11433,103668,1
162,36,15451,21681,10030,5590,7440,16440,20867,10290,107789,0
99,34,13850,22509,12771,5421,5090,5540,31331,11530,108042,0
9,59,14290,16420,9850,4360,22760,5860,24281,15661,113482,1
252,64,11711,24810,16871,6020,5140,5340,31909,12841,114642,0
261,46,18840,29588,7841,6870,7710,8332,21341,14711,115233,0
360,47,10065,24300,10530,6326,5254,18651,30131,10870,116127,1
189,54,30,44160,21892,4638,5990,6720,19730,19120,122280,0
0,61,15030,11960,13741,3881,7040,33370,30611,13050,128683,1
18,68,38592,38660,11720,4569,5220,5749,15291,14640,134441,0
54,69,7410,44960,14379,7080,7261,4780,37680,11336,134886,1
225,39,13750,35921,11385,4980,4729,14979,15600,48495,149839,1
306,70,6610,63381,11690,8879,6159,6529,21941,28693,153882,0
333,82,9378,26346,10240,5107,5465,5880,56735,37771,156922,0
153,38,14349,8980,13470,18610,5730,6041,59916,35061,162157,0
243,63,35762,17480,54371,9200,8350,6030,24320,16940,172453,1
180,65,16010,70231,11220,12750,12700,5200,28421,21680,178212,1
315,84,25330,57051,12540,6780,14790,10469,34560,17671,179191,0
144,43,9330,51380,6510,7840,5770,5210,94415,13486,193941,1
270,79,13211,107451,13278,7155,12319,7100,26400,22230,209144,1
171,31,13960,61531,18390,25651,6521,5831,72351,19170,223405,1
207,30,15177,50029,11595,93971,7069,5010,20851,20370,224072,0
234,55,146123,17571,15331,9890,9081,7721,20740,11581,238038,1
324,71,47641,26300,41061,23260,5400,5260,79971,12245,241138,1
108,33,14101,42701,13930,57471,16640,20680,61787,24521,251831,1
351,40,16321,74902,11980,4190,53340,38011,50885,26160,275789,0
117,45,14071,41820,12931,6909,12790,22930,23321,170903,305675,1
81,58,97305,90130,7415,11354,12327,5974,45613,39964,310082,0
342,49,12340,303596,6608,7800,4570,13021,48412,14560,410907,1
297,48,26001,95411,11516,16851,185944,94823,53919,31873,516338,0

In [159]:
groupA = allTasksDf.loc[allTasksDf["group"] == 0]
groupB = allTasksDf.loc[allTasksDf["group"] == 1]

groupATime = groupA['all_tasks'].mean()
groupAStd = groupA['all_tasks'].std()
print(f"group A {str(i)} Time: {groupATime:.3f} ± {groupAStd:.3f}")

groupBTime = groupB['all_tasks'].mean()
groupBStd = groupB['all_tasks'].std()
print(f"group B {str(i)} Time: {groupBTime:.3f} ± {groupBStd:.3f}")

print(scipy.stats.ttest_ind(groupB['all_tasks'], groupA['all_tasks']))

group A 126 Time: 159391.650 ± 106024.572
group B 126 Time: 170211.952 ± 87302.945
Ttest_indResult(statistic=0.35748066878599394, pvalue=0.7226593564409451)

In [160]:
sessionsDf.loc[(sessionsDf["userID"] == 30) & (sessionsDf["sessionNumber"] == 0)]

,userID,numFrames,task,start_time,end_time,total_time,sessionNumber,isResponsive,frames,group,Actual_Start_Time,Actual_End_Time,Actual_Total_Time
207,30,2009,Select a hologram or button within arm's reach...,1652717155289,1652717170466,15177,0,False,"[{'userID': 30, 'frameNum': 1, 'unixTime': 165...",A,1652717155289,1652717170466,15177